:root {
  --ColorSet_ThemeColor_Accent_0: #18800d;
  --ColorSet_ThemeColor_Accent_0_Hover: #19820d;
  --ColorSet_ThemeColor_Accent_0_Focus: #19850d;
  --ColorSet_ThemeColor_Accent_10: #21a612;
  --ColorSet_ThemeColor_Accent_10_Hover: #21a812;
  --ColorSet_ThemeColor_Accent_10_Focus: #22ab13;
  --ColorSet_ThemeColor_Accent_20: #2ac619;
  --ColorSet_ThemeColor_Accent_20_Hover: #2bc919;
  --ColorSet_ThemeColor_Accent_20_Focus: #2bcb19;
  --ColorSet_ThemeColor_Accent_30: #34de21;
  --ColorSet_ThemeColor_Accent_30_Hover: #35e022;
  --ColorSet_ThemeColor_Accent_30_Focus: #35e322;
  --ColorSet_ThemeColor_Accent_40: #41ec2e;
  --ColorSet_ThemeColor_Accent_40_Hover: #42ef2e;
  --ColorSet_ThemeColor_Accent_40_Focus: #42f22f;
  --ColorSet_ThemeColor_Accent_50: #54f542;
  --ColorSet_ThemeColor_Accent_50_Hover: #55f843;
  --ColorSet_ThemeColor_Accent_50_Focus: #56fa44;
  --ColorSet_ThemeColor_Accent_60: #71fa62;
  --ColorSet_ThemeColor_Accent_60_Hover: #72fd63;
  --ColorSet_ThemeColor_Accent_60_Focus: #73ff64;
  --ColorSet_ThemeColor_Accent_70: #98fd8d;
  --ColorSet_ThemeColor_Accent_70_Hover: #99ff8e;
  --ColorSet_ThemeColor_Accent_70_Focus: #9bff8f;
  --ColorSet_ThemeColor_Accent_80: #c6ffbf;
  --ColorSet_ThemeColor_Accent_80_Hover: #c8ffc1;
  --ColorSet_ThemeColor_Accent_80_Focus: #caffc3;
  --ColorSet_ThemeColor_AccentBorder_0: #1b8c0e;
  --ColorSet_ThemeColor_AccentBorder_0_Hover: #1d990f;
  --ColorSet_ThemeColor_AccentBorder_0_Focus: #1fa110;
  --ColorSet_ThemeColor_AccentBorder_10: #23af13;
  --ColorSet_ThemeColor_AccentBorder_10_Hover: #25bb15;
  --ColorSet_ThemeColor_AccentBorder_10_Focus: #27c315;
  --ColorSet_ThemeColor_AccentBorder_20: #2bcc19;
  --ColorSet_ThemeColor_AccentBorder_20_Hover: #2ed81b;
  --ColorSet_ThemeColor_AccentBorder_20_Focus: #30e01c;
  --ColorSet_ThemeColor_AccentBorder_30: #35e122;
  --ColorSet_ThemeColor_AccentBorder_30_Hover: #38ee24;
  --ColorSet_ThemeColor_AccentBorder_30_Focus: #3af525;
  --ColorSet_ThemeColor_AccentBorder_40: #42ee2e;
  --ColorSet_ThemeColor_AccentBorder_40_Hover: #45fb31;
  --ColorSet_ThemeColor_AccentBorder_40_Focus: #47ff32;
  --ColorSet_ThemeColor_AccentBorder_50: #54f642;
  --ColorSet_ThemeColor_AccentBorder_50_Hover: #59ff46;
  --ColorSet_ThemeColor_AccentBorder_50_Focus: #5bff48;
  --ColorSet_ThemeColor_AccentBorder_60: #71fb62;
  --ColorSet_ThemeColor_AccentBorder_60_Hover: #77ff67;
  --ColorSet_ThemeColor_AccentBorder_60_Focus: #7aff6a;
  --ColorSet_ThemeColor_AccentBorder_70: #98fd8d;
  --ColorSet_ThemeColor_AccentBorder_70_Hover: #a0ff94;
  --ColorSet_ThemeColor_AccentBorder_70_Focus: #a4ff98;
  --ColorSet_ThemeColor_AccentBorder_80: #c6ffbf;
  --ColorSet_ThemeColor_AccentBorder_80_Hover: #d0ffc9;
  --ColorSet_ThemeColor_AccentBorder_80_Focus: #d5ffcf;
  --ColorSet_ThemeColor_Background_0: #000000;
  --ColorSet_ThemeColor_Background_0_Hover: #050505;
  --ColorSet_ThemeColor_Background_0_Focus: #080808;
  --ColorSet_ThemeColor_Background_10: #050505;
  --ColorSet_ThemeColor_Background_10_Hover: #0a090a;
  --ColorSet_ThemeColor_Background_10_Focus: #0c0c0c;
  --ColorSet_ThemeColor_Background_20: #090909;
  --ColorSet_ThemeColor_Background_20_Hover: #0e0d0f;
  --ColorSet_ThemeColor_Background_20_Focus: #101011;
  --ColorSet_ThemeColor_Background_30: #0d0d0e;
  --ColorSet_ThemeColor_Background_30_Hover: #121113;
  --ColorSet_ThemeColor_Background_30_Focus: #141416;
  --ColorSet_ThemeColor_Background_40: #111113;
  --ColorSet_ThemeColor_Background_40_Hover: #161518;
  --ColorSet_ThemeColor_Background_40_Focus: #18171b;
  --ColorSet_ThemeColor_Background_50: #151418;
  --ColorSet_ThemeColor_Background_50_Hover: #1a191d;
  --ColorSet_ThemeColor_Background_50_Focus: #1c1b1f;
  --ColorSet_ThemeColor_Background_60: #19181c;
  --ColorSet_ThemeColor_Background_60_Hover: #1e1c21;
  --ColorSet_ThemeColor_Background_60_Focus: #201e24;
  --ColorSet_ThemeColor_Background_70: #1d1c21;
  --ColorSet_ThemeColor_Background_70_Hover: #222026;
  --ColorSet_ThemeColor_Background_70_Focus: #242229;
  --ColorSet_ThemeColor_Background_80: #211f26;
  --ColorSet_ThemeColor_Background_80_Hover: #26242b;
  --ColorSet_ThemeColor_Background_80_Focus: #28262d;
  --ColorSet_ThemeColor_Background_90: #25232a;
  --ColorSet_ThemeColor_Background_90_Hover: #2a2730;
  --ColorSet_ThemeColor_Background_90_Focus: #2c2932;
  --ColorSet_ThemeColor_Background_100: #29272f;
  --ColorSet_ThemeColor_Background_100_Hover: #2e2b34;
  --ColorSet_ThemeColor_Background_100_Focus: #302d37;
  --ColorSet_ThemeColor_Background_110: #2d2a34;
  --ColorSet_ThemeColor_Background_110_Hover: #322e39;
  --ColorSet_ThemeColor_Background_110_Focus: #34303c;
  --ColorSet_ThemeColor_Background_120: #312e39;
  --ColorSet_ThemeColor_Background_120_Hover: #36323e;
  --ColorSet_ThemeColor_Background_120_Focus: #383440;
  --ColorSet_ThemeColor_Background_130: #35313d;
  --ColorSet_ThemeColor_Background_130_Hover: #3a3642;
  --ColorSet_ThemeColor_Background_130_Focus: #3c3845;
  --ColorSet_ThemeColor_Background_140: #393542;
  --ColorSet_ThemeColor_Background_140_Hover: #3e3947;
  --ColorSet_ThemeColor_Background_140_Focus: #403b4a;
  --ColorSet_ThemeColor_Background_150: #3d3947;
  --ColorSet_ThemeColor_Background_150_Hover: #423d4c;
  --ColorSet_ThemeColor_Background_150_Focus: #443f4e;
  --ColorSet_ThemeColor_Background_160: #413d4b;
  --ColorSet_ThemeColor_Background_160_Hover: #464151;
  --ColorSet_ThemeColor_Background_160_Focus: #484353;
  --ColorSet_ThemeColor_Background_170: #454050;
  --ColorSet_ThemeColor_Background_170_Hover: #4a4455;
  --ColorSet_ThemeColor_Background_170_Focus: #4c4658;
  --ColorSet_ThemeColor_Background_180: #494455;
  --ColorSet_ThemeColor_Background_180_Hover: #4e485a;
  --ColorSet_ThemeColor_Background_180_Focus: #504a5d;
  --ColorSet_ThemeColor_Background_190: #4d485a;
  --ColorSet_ThemeColor_Background_190_Hover: #524c5f;
  --ColorSet_ThemeColor_Background_190_Focus: #544e61;
  --ColorSet_ThemeColor_Background_200: #514b5e;
  --ColorSet_ThemeColor_Background_200_Hover: #565063;
  --ColorSet_ThemeColor_Background_200_Focus: #585266;
  --ColorSet_ThemeColor_Border_0: #1a1a1a;
  --ColorSet_ThemeColor_Border_0_Hover: #262626;
  --ColorSet_ThemeColor_Border_0_Focus: #2e2e2e;
  --ColorSet_ThemeColor_Border_10: #1d1d1e;
  --ColorSet_ThemeColor_Border_10_Hover: #2a292b;
  --ColorSet_ThemeColor_Border_10_Focus: #313033;
  --ColorSet_ThemeColor_Border_20: #212023;
  --ColorSet_ThemeColor_Border_20_Hover: #2d2c30;
  --ColorSet_ThemeColor_Border_20_Focus: #343337;
  --ColorSet_ThemeColor_Border_30: #252428;
  --ColorSet_ThemeColor_Border_30_Hover: #312f34;
  --ColorSet_ThemeColor_Border_30_Focus: #38363c;
  --ColorSet_ThemeColor_Border_40: #29272c;
  --ColorSet_ThemeColor_Border_40_Hover: #343239;
  --ColorSet_ThemeColor_Border_40_Focus: #3b3941;
  --ColorSet_ThemeColor_Border_50: #2c2a31;
  --ColorSet_ThemeColor_Border_50_Hover: #38353e;
  --ColorSet_ThemeColor_Border_50_Focus: #3f3c45;
  --ColorSet_ThemeColor_Border_60: #302e36;
  --ColorSet_ThemeColor_Border_60_Hover: #3c3843;
  --ColorSet_ThemeColor_Border_60_Focus: #423f4a;
  --ColorSet_ThemeColor_Border_70: #34313b;
  --ColorSet_ThemeColor_Border_70_Hover: #3f3c47;
  --ColorSet_ThemeColor_Border_70_Focus: #46424f;
  --ColorSet_ThemeColor_Border_80: #38343f;
  --ColorSet_ThemeColor_Border_80_Hover: #433f4c;
  --ColorSet_ThemeColor_Border_80_Focus: #4a4554;
  --ColorSet_ThemeColor_Border_90: #3c3844;
  --ColorSet_ThemeColor_Border_90_Hover: #474251;
  --ColorSet_ThemeColor_Border_90_Focus: #4e4958;
  --ColorSet_ThemeColor_Border_100: #403b49;
  --ColorSet_ThemeColor_Border_100_Hover: #4b4655;
  --ColorSet_ThemeColor_Border_100_Focus: #514c5d;
  --ColorSet_ThemeColor_Border_110: #433f4d;
  --ColorSet_ThemeColor_Border_110_Hover: #4f495a;
  --ColorSet_ThemeColor_Border_110_Focus: #554f62;
  --ColorSet_ThemeColor_Border_120: #474252;
  --ColorSet_ThemeColor_Border_120_Hover: #534d5f;
  --ColorSet_ThemeColor_Border_120_Focus: #595367;
  --ColorSet_ThemeColor_Border_130: #4b4657;
  --ColorSet_ThemeColor_Border_130_Hover: #565064;
  --ColorSet_ThemeColor_Border_130_Focus: #5d566b;
  --ColorSet_ThemeColor_Border_140: #4f4a5c;
  --ColorSet_ThemeColor_Border_140_Hover: #5a5468;
  --ColorSet_ThemeColor_Border_140_Focus: #615a70;
  --ColorSet_ThemeColor_Border_150: #534d60;
  --ColorSet_ThemeColor_Border_150_Hover: #5e586d;
  --ColorSet_ThemeColor_Border_150_Focus: #655e75;
  --ColorSet_ThemeColor_Border_160: #575165;
  --ColorSet_ThemeColor_Border_160_Hover: #625b72;
  --ColorSet_ThemeColor_Border_160_Focus: #696179;
  --ColorSet_ThemeColor_Border_170: #5b556a;
  --ColorSet_ThemeColor_Border_170_Hover: #665f76;
  --ColorSet_ThemeColor_Border_170_Focus: #6d657e;
  --ColorSet_ThemeColor_Border_180: #5f586e;
  --ColorSet_ThemeColor_Border_180_Hover: #6a637b;
  --ColorSet_ThemeColor_Border_180_Focus: #716983;
  --ColorSet_ThemeColor_Border_190: #635c73;
  --ColorSet_ThemeColor_Border_190_Hover: #6e6680;
  --ColorSet_ThemeColor_Border_190_Focus: #756c88;
  --ColorSet_ThemeColor_Border_200: #676078;
  --ColorSet_ThemeColor_Border_200_Hover: #726a85;
  --ColorSet_ThemeColor_Border_200_Focus: #79708c;
  --ColorSet_ThemeColor_Text_0: #095900;
  --ColorSet_ThemeColor_Text_10: #108b02;
  --ColorSet_ThemeColor_Text_20: #18b507;
  --ColorSet_ThemeColor_Text_30: #23d410;
  --ColorSet_ThemeColor_Text_40: #32e71e;
  --ColorSet_ThemeColor_Text_50: #45f231;
  --ColorSet_ThemeColor_Text_60: #5cf94a;
  --ColorSet_ThemeColor_Text_70: #75fc66;
  --ColorSet_ThemeColor_Text_80: #8cff80;
  --ColorSet_ThemeColor_TR_0: #0b0a0d;
  --ColorSet_ThemeColor_TR_10: #111014;
  --ColorSet_ThemeColor_TR_20: #151318;
  --ColorSet_ThemeColor_TR_30: #16141a;
  --ColorSet_ThemeColor_TR_Green_0: #001a00;
  --ColorSet_ThemeColor_TR_Green_10: #002000;
  --ColorSet_ThemeColor_TR_Green_20: #002500;
  --ColorSet_ThemeColor_TR_Green_30: #002600;
  --ColorSet_ThemeColor_TR_Red_0: #210000;
  --ColorSet_ThemeColor_TR_Red_10: #280000;
  --ColorSet_ThemeColor_TR_Red_20: #2c0000;
  --ColorSet_ThemeColor_TR_Red_30: #2e0000; }
