#blazor-error-ui {
    display: none;

    .Background {
        background-color: var(--ColorSet_ThemeColor_SolidRed_20);
        height:           100%;
        left:             0;
        opacity:          0.2;
        overflow:         auto;
        position:         fixed;
        top:              0;
        width:            100%;
        z-index:          99;
    }

    .Content {
        background-color: var(--ColorSet_ThemeColor_Background_30);
        border:           2px solid var(--ColorSet_ThemeColor_SolidRed_30);
        border-radius:    3px;
        left:             50%;
        padding:          5px;
        position:         absolute;
        top:              50%;
        transform:        translate(-50%, -50%);
        width:            265px;
        z-index:          100;

        .Buttons {
            display:         flex;
            justify-content: flex-end;

            button {
                margin: 3px;
            }
        }
    }
}
