@mixin _InputBase {
    border-radius:    3px;
    outline:          none;
    background-color: var(--ColorSet_ThemeColor_Background_60);
    border:           1px solid var(--ColorSet_ThemeColor_Border_60);
    color:            var(--ColorSet_ThemeColor_Text_60);
    box-sizing:       border-box;
    font-size:        1em;
    transition:       $TransitionRestore;

    &:hover {
        background-color: var(--ColorSet_ThemeColor_Background_60_Hover);
        transition:       $TransitionHover;
        border-top:       1px solid var(--ColorSet_ThemeColor_Border_60_Hover);
        border-left:      1px solid var(--ColorSet_ThemeColor_Border_60_Hover);
        border-right:     1px solid var(--ColorSet_ThemeColor_Border_60_Hover);
        border-bottom:    1px solid var(--ColorSet_ThemeColor_AccentBorder_60_Hover);
    }

    &:focus, :active {
        transition:       $TransitionSnap;
        background-color: var(--ColorSet_ThemeColor_Background_60_Focus);
        border-top:       1px solid var(--ColorSet_ThemeColor_Border_60_Focus);
        border-left:      1px solid var(--ColorSet_ThemeColor_Border_60_Focus);
        border-right:     1px solid var(--ColorSet_ThemeColor_Border_60_Focus);
        border-bottom:    1px solid var(--ColorSet_ThemeColor_AccentBorder_60_Focus);
    }

    &:not(:disabled) {
        box-shadow: 0 0 3px 1px var(--ColorSet_ThemeColor_ElementShadow);
    }

    &:disabled {
        background-color: var(--ColorSet_ThemeColor_Background_20);
        border:           1px solid var(ColorSet_ThemeColor_Border_20);
        color:            var(ColorSet_ThemeColor_Text_0);
        cursor:           not-allowed;
    }
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

.SS_Input {
    @include _InputBase;

    font-family: var(--FontSet-MonospaceFont);
    height:      calc(25px);
    margin:      1px 0;
    padding:     1px 4px;

    &--WidthWide {
        width: 600px;
    }

    &--WidthMedium {
        width: 400px;
    }

    &--WidthThin {
        width: 200px;
    }
}

.SS_TextArea {
    @include _InputBase;

    font-family: var(--FontSet-MonospaceFont);
    margin:      1px 0;
    padding:     1px 4px;

    &--WidthWide {
        width: 600px;
    }

    &--WidthMedium {
        width: 400px;
    }

    &--WidthThin {
        width: 200px;
    }

    &--HeightThin {
        height: 75px;
    }

    &--HeightMedium {
        height: 150px;
    }

    &--HeightTall {
        height: 300px;
    }
}

.SS_Select {
    @include _InputBase;

    font-family: var(--FontSet-MonospaceFont);
    height:      calc(25px);
    margin:      1px 0;

    padding:     1px 4px;
}
