@mixin _InputBase {
    border-radius:    3px;
    outline:          none;
    background-color: $ColorSet_ThemeColor_Background_40;
    padding:          1px 4px;
    border:           1px solid $ColorSet_ThemeColor_Border_40;
    color:            $ColorSet_ThemeColor_Text_60;
    box-sizing:       border-box;
    font-family:      var(--FontSet-MonospaceFont);
    font-size:        1em;
    transition:       $TransitionRestore;
    margin:           1px 0;

    &:hover {
        background-color: $ColorSet_ThemeColor_Background_40_Hover;
        transition:       $TransitionHover;
        border-top:       1px solid $ColorSet_ThemeColor_Border_40_Hover;
        border-left:      1px solid $ColorSet_ThemeColor_Border_40_Hover;
        border-right:     1px solid $ColorSet_ThemeColor_Border_40_Hover;
        border-bottom:    1px solid $ColorSet_ThemeColor_AccentBorder_40_Hover;
    }

    &:focus, :active {
        transition:       $TransitionSnap;
        background-color: $ColorSet_ThemeColor_Background_40_Focus;
        border-top:       1px solid $ColorSet_ThemeColor_Border_40_Focus;
        border-left:      1px solid $ColorSet_ThemeColor_Border_40_Focus;
        border-right:     1px solid $ColorSet_ThemeColor_Border_40_Focus;
        border-bottom:    1px solid $ColorSet_ThemeColor_AccentBorder_40_Focus;
    }
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

.SS_Input {
    @include _InputBase;

    height: calc(25px);
}

.SS_TextArea {
    @include _InputBase;

    &--HeightThin {
        height: 75px;
    }

    &--HeightMedium {
        height: 150px;
    }

    &--HeightTall {
        height: 300px;
    }
}

.SS_Select {
    @include _InputBase;

    height: calc(25px);
}

.SS_Input--WidthWide {
    width: 600px;
}

.SS_Input--WidthMedium {
    width: 400px;
}

.SS_Input--WidthThin {
    width: 200px;
}
