#ColorSet_ThemeLoader_Menu {
    margin-top: 10px;

    span {
        border-top: 1px solid var(--ColorSet_ThemeColor_Border_20);
        display:    inline-block;
        padding:    5px;

        label {
            color:        var(--ColorSet_ThemeColor_Text_30);
            font-size:    10pt;
            margin-right: 5px;
        }

        select {
            @extend .SS_Input;

            font-size: 10pt;
            height:    unset;
            padding:   0;
        }
    }
}
