@import 'theme.scss';
:root {
	--ColorSet_ThemeColor_Accent_0: #{$ColorSet_ThemeColor_Accent_0};
	--ColorSet_ThemeColor_Accent_0_Hover: #{$ColorSet_ThemeColor_Accent_0_Hover};
	--ColorSet_ThemeColor_Accent_0_Focus: #{$ColorSet_ThemeColor_Accent_0_Focus};
	--ColorSet_ThemeColor_Accent_10: #{$ColorSet_ThemeColor_Accent_10};
	--ColorSet_ThemeColor_Accent_10_Hover: #{$ColorSet_ThemeColor_Accent_10_Hover};
	--ColorSet_ThemeColor_Accent_10_Focus: #{$ColorSet_ThemeColor_Accent_10_Focus};
	--ColorSet_ThemeColor_Accent_20: #{$ColorSet_ThemeColor_Accent_20};
	--ColorSet_ThemeColor_Accent_20_Hover: #{$ColorSet_ThemeColor_Accent_20_Hover};
	--ColorSet_ThemeColor_Accent_20_Focus: #{$ColorSet_ThemeColor_Accent_20_Focus};
	--ColorSet_ThemeColor_Accent_30: #{$ColorSet_ThemeColor_Accent_30};
	--ColorSet_ThemeColor_Accent_30_Hover: #{$ColorSet_ThemeColor_Accent_30_Hover};
	--ColorSet_ThemeColor_Accent_30_Focus: #{$ColorSet_ThemeColor_Accent_30_Focus};
	--ColorSet_ThemeColor_Accent_40: #{$ColorSet_ThemeColor_Accent_40};
	--ColorSet_ThemeColor_Accent_40_Hover: #{$ColorSet_ThemeColor_Accent_40_Hover};
	--ColorSet_ThemeColor_Accent_40_Focus: #{$ColorSet_ThemeColor_Accent_40_Focus};
	--ColorSet_ThemeColor_Accent_50: #{$ColorSet_ThemeColor_Accent_50};
	--ColorSet_ThemeColor_Accent_50_Hover: #{$ColorSet_ThemeColor_Accent_50_Hover};
	--ColorSet_ThemeColor_Accent_50_Focus: #{$ColorSet_ThemeColor_Accent_50_Focus};
	--ColorSet_ThemeColor_Accent_60: #{$ColorSet_ThemeColor_Accent_60};
	--ColorSet_ThemeColor_Accent_60_Hover: #{$ColorSet_ThemeColor_Accent_60_Hover};
	--ColorSet_ThemeColor_Accent_60_Focus: #{$ColorSet_ThemeColor_Accent_60_Focus};
	--ColorSet_ThemeColor_Accent_70: #{$ColorSet_ThemeColor_Accent_70};
	--ColorSet_ThemeColor_Accent_70_Hover: #{$ColorSet_ThemeColor_Accent_70_Hover};
	--ColorSet_ThemeColor_Accent_70_Focus: #{$ColorSet_ThemeColor_Accent_70_Focus};
	--ColorSet_ThemeColor_Accent_80: #{$ColorSet_ThemeColor_Accent_80};
	--ColorSet_ThemeColor_Accent_80_Hover: #{$ColorSet_ThemeColor_Accent_80_Hover};
	--ColorSet_ThemeColor_Accent_80_Focus: #{$ColorSet_ThemeColor_Accent_80_Focus};
	--ColorSet_ThemeColor_AccentBorder_0: #{$ColorSet_ThemeColor_AccentBorder_0};
	--ColorSet_ThemeColor_AccentBorder_0_Hover: #{$ColorSet_ThemeColor_AccentBorder_0_Hover};
	--ColorSet_ThemeColor_AccentBorder_0_Focus: #{$ColorSet_ThemeColor_AccentBorder_0_Focus};
	--ColorSet_ThemeColor_AccentBorder_10: #{$ColorSet_ThemeColor_AccentBorder_10};
	--ColorSet_ThemeColor_AccentBorder_10_Hover: #{$ColorSet_ThemeColor_AccentBorder_10_Hover};
	--ColorSet_ThemeColor_AccentBorder_10_Focus: #{$ColorSet_ThemeColor_AccentBorder_10_Focus};
	--ColorSet_ThemeColor_AccentBorder_20: #{$ColorSet_ThemeColor_AccentBorder_20};
	--ColorSet_ThemeColor_AccentBorder_20_Hover: #{$ColorSet_ThemeColor_AccentBorder_20_Hover};
	--ColorSet_ThemeColor_AccentBorder_20_Focus: #{$ColorSet_ThemeColor_AccentBorder_20_Focus};
	--ColorSet_ThemeColor_AccentBorder_30: #{$ColorSet_ThemeColor_AccentBorder_30};
	--ColorSet_ThemeColor_AccentBorder_30_Hover: #{$ColorSet_ThemeColor_AccentBorder_30_Hover};
	--ColorSet_ThemeColor_AccentBorder_30_Focus: #{$ColorSet_ThemeColor_AccentBorder_30_Focus};
	--ColorSet_ThemeColor_AccentBorder_40: #{$ColorSet_ThemeColor_AccentBorder_40};
	--ColorSet_ThemeColor_AccentBorder_40_Hover: #{$ColorSet_ThemeColor_AccentBorder_40_Hover};
	--ColorSet_ThemeColor_AccentBorder_40_Focus: #{$ColorSet_ThemeColor_AccentBorder_40_Focus};
	--ColorSet_ThemeColor_AccentBorder_50: #{$ColorSet_ThemeColor_AccentBorder_50};
	--ColorSet_ThemeColor_AccentBorder_50_Hover: #{$ColorSet_ThemeColor_AccentBorder_50_Hover};
	--ColorSet_ThemeColor_AccentBorder_50_Focus: #{$ColorSet_ThemeColor_AccentBorder_50_Focus};
	--ColorSet_ThemeColor_AccentBorder_60: #{$ColorSet_ThemeColor_AccentBorder_60};
	--ColorSet_ThemeColor_AccentBorder_60_Hover: #{$ColorSet_ThemeColor_AccentBorder_60_Hover};
	--ColorSet_ThemeColor_AccentBorder_60_Focus: #{$ColorSet_ThemeColor_AccentBorder_60_Focus};
	--ColorSet_ThemeColor_AccentBorder_70: #{$ColorSet_ThemeColor_AccentBorder_70};
	--ColorSet_ThemeColor_AccentBorder_70_Hover: #{$ColorSet_ThemeColor_AccentBorder_70_Hover};
	--ColorSet_ThemeColor_AccentBorder_70_Focus: #{$ColorSet_ThemeColor_AccentBorder_70_Focus};
	--ColorSet_ThemeColor_AccentBorder_80: #{$ColorSet_ThemeColor_AccentBorder_80};
	--ColorSet_ThemeColor_AccentBorder_80_Hover: #{$ColorSet_ThemeColor_AccentBorder_80_Hover};
	--ColorSet_ThemeColor_AccentBorder_80_Focus: #{$ColorSet_ThemeColor_AccentBorder_80_Focus};
	--ColorSet_ThemeColor_Background_0: #{$ColorSet_ThemeColor_Background_0};
	--ColorSet_ThemeColor_Background_0_Hover: #{$ColorSet_ThemeColor_Background_0_Hover};
	--ColorSet_ThemeColor_Background_0_Focus: #{$ColorSet_ThemeColor_Background_0_Focus};
	--ColorSet_ThemeColor_Background_10: #{$ColorSet_ThemeColor_Background_10};
	--ColorSet_ThemeColor_Background_10_Hover: #{$ColorSet_ThemeColor_Background_10_Hover};
	--ColorSet_ThemeColor_Background_10_Focus: #{$ColorSet_ThemeColor_Background_10_Focus};
	--ColorSet_ThemeColor_Background_20: #{$ColorSet_ThemeColor_Background_20};
	--ColorSet_ThemeColor_Background_20_Hover: #{$ColorSet_ThemeColor_Background_20_Hover};
	--ColorSet_ThemeColor_Background_20_Focus: #{$ColorSet_ThemeColor_Background_20_Focus};
	--ColorSet_ThemeColor_Background_30: #{$ColorSet_ThemeColor_Background_30};
	--ColorSet_ThemeColor_Background_30_Hover: #{$ColorSet_ThemeColor_Background_30_Hover};
	--ColorSet_ThemeColor_Background_30_Focus: #{$ColorSet_ThemeColor_Background_30_Focus};
	--ColorSet_ThemeColor_Background_40: #{$ColorSet_ThemeColor_Background_40};
	--ColorSet_ThemeColor_Background_40_Hover: #{$ColorSet_ThemeColor_Background_40_Hover};
	--ColorSet_ThemeColor_Background_40_Focus: #{$ColorSet_ThemeColor_Background_40_Focus};
	--ColorSet_ThemeColor_Background_50: #{$ColorSet_ThemeColor_Background_50};
	--ColorSet_ThemeColor_Background_50_Hover: #{$ColorSet_ThemeColor_Background_50_Hover};
	--ColorSet_ThemeColor_Background_50_Focus: #{$ColorSet_ThemeColor_Background_50_Focus};
	--ColorSet_ThemeColor_Background_60: #{$ColorSet_ThemeColor_Background_60};
	--ColorSet_ThemeColor_Background_60_Hover: #{$ColorSet_ThemeColor_Background_60_Hover};
	--ColorSet_ThemeColor_Background_60_Focus: #{$ColorSet_ThemeColor_Background_60_Focus};
	--ColorSet_ThemeColor_Background_70: #{$ColorSet_ThemeColor_Background_70};
	--ColorSet_ThemeColor_Background_70_Hover: #{$ColorSet_ThemeColor_Background_70_Hover};
	--ColorSet_ThemeColor_Background_70_Focus: #{$ColorSet_ThemeColor_Background_70_Focus};
	--ColorSet_ThemeColor_Background_80: #{$ColorSet_ThemeColor_Background_80};
	--ColorSet_ThemeColor_Background_80_Hover: #{$ColorSet_ThemeColor_Background_80_Hover};
	--ColorSet_ThemeColor_Background_80_Focus: #{$ColorSet_ThemeColor_Background_80_Focus};
	--ColorSet_ThemeColor_Background_90: #{$ColorSet_ThemeColor_Background_90};
	--ColorSet_ThemeColor_Background_90_Hover: #{$ColorSet_ThemeColor_Background_90_Hover};
	--ColorSet_ThemeColor_Background_90_Focus: #{$ColorSet_ThemeColor_Background_90_Focus};
	--ColorSet_ThemeColor_Background_100: #{$ColorSet_ThemeColor_Background_100};
	--ColorSet_ThemeColor_Background_100_Hover: #{$ColorSet_ThemeColor_Background_100_Hover};
	--ColorSet_ThemeColor_Background_100_Focus: #{$ColorSet_ThemeColor_Background_100_Focus};
	--ColorSet_ThemeColor_Background_110: #{$ColorSet_ThemeColor_Background_110};
	--ColorSet_ThemeColor_Background_110_Hover: #{$ColorSet_ThemeColor_Background_110_Hover};
	--ColorSet_ThemeColor_Background_110_Focus: #{$ColorSet_ThemeColor_Background_110_Focus};
	--ColorSet_ThemeColor_Background_120: #{$ColorSet_ThemeColor_Background_120};
	--ColorSet_ThemeColor_Background_120_Hover: #{$ColorSet_ThemeColor_Background_120_Hover};
	--ColorSet_ThemeColor_Background_120_Focus: #{$ColorSet_ThemeColor_Background_120_Focus};
	--ColorSet_ThemeColor_Background_130: #{$ColorSet_ThemeColor_Background_130};
	--ColorSet_ThemeColor_Background_130_Hover: #{$ColorSet_ThemeColor_Background_130_Hover};
	--ColorSet_ThemeColor_Background_130_Focus: #{$ColorSet_ThemeColor_Background_130_Focus};
	--ColorSet_ThemeColor_Background_140: #{$ColorSet_ThemeColor_Background_140};
	--ColorSet_ThemeColor_Background_140_Hover: #{$ColorSet_ThemeColor_Background_140_Hover};
	--ColorSet_ThemeColor_Background_140_Focus: #{$ColorSet_ThemeColor_Background_140_Focus};
	--ColorSet_ThemeColor_Background_150: #{$ColorSet_ThemeColor_Background_150};
	--ColorSet_ThemeColor_Background_150_Hover: #{$ColorSet_ThemeColor_Background_150_Hover};
	--ColorSet_ThemeColor_Background_150_Focus: #{$ColorSet_ThemeColor_Background_150_Focus};
	--ColorSet_ThemeColor_Background_160: #{$ColorSet_ThemeColor_Background_160};
	--ColorSet_ThemeColor_Background_160_Hover: #{$ColorSet_ThemeColor_Background_160_Hover};
	--ColorSet_ThemeColor_Background_160_Focus: #{$ColorSet_ThemeColor_Background_160_Focus};
	--ColorSet_ThemeColor_Background_170: #{$ColorSet_ThemeColor_Background_170};
	--ColorSet_ThemeColor_Background_170_Hover: #{$ColorSet_ThemeColor_Background_170_Hover};
	--ColorSet_ThemeColor_Background_170_Focus: #{$ColorSet_ThemeColor_Background_170_Focus};
	--ColorSet_ThemeColor_Background_180: #{$ColorSet_ThemeColor_Background_180};
	--ColorSet_ThemeColor_Background_180_Hover: #{$ColorSet_ThemeColor_Background_180_Hover};
	--ColorSet_ThemeColor_Background_180_Focus: #{$ColorSet_ThemeColor_Background_180_Focus};
	--ColorSet_ThemeColor_Background_190: #{$ColorSet_ThemeColor_Background_190};
	--ColorSet_ThemeColor_Background_190_Hover: #{$ColorSet_ThemeColor_Background_190_Hover};
	--ColorSet_ThemeColor_Background_190_Focus: #{$ColorSet_ThemeColor_Background_190_Focus};
	--ColorSet_ThemeColor_Background_200: #{$ColorSet_ThemeColor_Background_200};
	--ColorSet_ThemeColor_Background_200_Hover: #{$ColorSet_ThemeColor_Background_200_Hover};
	--ColorSet_ThemeColor_Background_200_Focus: #{$ColorSet_ThemeColor_Background_200_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_0: #{$ColorSet_ThemeColor_BackgroundInverse_0};
	--ColorSet_ThemeColor_BackgroundInverse_0_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_0_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_0_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_0_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_10: #{$ColorSet_ThemeColor_BackgroundInverse_10};
	--ColorSet_ThemeColor_BackgroundInverse_10_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_10_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_10_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_10_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_20: #{$ColorSet_ThemeColor_BackgroundInverse_20};
	--ColorSet_ThemeColor_BackgroundInverse_20_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_20_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_20_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_20_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_30: #{$ColorSet_ThemeColor_BackgroundInverse_30};
	--ColorSet_ThemeColor_BackgroundInverse_30_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_30_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_30_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_30_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_40: #{$ColorSet_ThemeColor_BackgroundInverse_40};
	--ColorSet_ThemeColor_BackgroundInverse_40_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_40_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_40_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_40_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_50: #{$ColorSet_ThemeColor_BackgroundInverse_50};
	--ColorSet_ThemeColor_BackgroundInverse_50_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_50_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_50_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_50_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_60: #{$ColorSet_ThemeColor_BackgroundInverse_60};
	--ColorSet_ThemeColor_BackgroundInverse_60_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_60_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_60_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_60_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_70: #{$ColorSet_ThemeColor_BackgroundInverse_70};
	--ColorSet_ThemeColor_BackgroundInverse_70_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_70_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_70_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_70_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_80: #{$ColorSet_ThemeColor_BackgroundInverse_80};
	--ColorSet_ThemeColor_BackgroundInverse_80_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_80_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_80_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_80_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_90: #{$ColorSet_ThemeColor_BackgroundInverse_90};
	--ColorSet_ThemeColor_BackgroundInverse_90_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_90_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_90_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_90_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_100: #{$ColorSet_ThemeColor_BackgroundInverse_100};
	--ColorSet_ThemeColor_BackgroundInverse_100_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_100_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_100_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_100_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_110: #{$ColorSet_ThemeColor_BackgroundInverse_110};
	--ColorSet_ThemeColor_BackgroundInverse_110_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_110_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_110_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_110_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_120: #{$ColorSet_ThemeColor_BackgroundInverse_120};
	--ColorSet_ThemeColor_BackgroundInverse_120_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_120_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_120_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_120_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_130: #{$ColorSet_ThemeColor_BackgroundInverse_130};
	--ColorSet_ThemeColor_BackgroundInverse_130_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_130_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_130_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_130_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_140: #{$ColorSet_ThemeColor_BackgroundInverse_140};
	--ColorSet_ThemeColor_BackgroundInverse_140_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_140_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_140_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_140_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_150: #{$ColorSet_ThemeColor_BackgroundInverse_150};
	--ColorSet_ThemeColor_BackgroundInverse_150_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_150_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_150_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_150_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_160: #{$ColorSet_ThemeColor_BackgroundInverse_160};
	--ColorSet_ThemeColor_BackgroundInverse_160_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_160_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_160_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_160_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_170: #{$ColorSet_ThemeColor_BackgroundInverse_170};
	--ColorSet_ThemeColor_BackgroundInverse_170_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_170_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_170_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_170_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_180: #{$ColorSet_ThemeColor_BackgroundInverse_180};
	--ColorSet_ThemeColor_BackgroundInverse_180_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_180_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_180_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_180_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_190: #{$ColorSet_ThemeColor_BackgroundInverse_190};
	--ColorSet_ThemeColor_BackgroundInverse_190_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_190_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_190_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_190_Focus};
	--ColorSet_ThemeColor_BackgroundInverse_200: #{$ColorSet_ThemeColor_BackgroundInverse_200};
	--ColorSet_ThemeColor_BackgroundInverse_200_Hover: #{$ColorSet_ThemeColor_BackgroundInverse_200_Hover};
	--ColorSet_ThemeColor_BackgroundInverse_200_Focus: #{$ColorSet_ThemeColor_BackgroundInverse_200_Focus};
	--ColorSet_ThemeColor_Border_0: #{$ColorSet_ThemeColor_Border_0};
	--ColorSet_ThemeColor_Border_0_Hover: #{$ColorSet_ThemeColor_Border_0_Hover};
	--ColorSet_ThemeColor_Border_0_Focus: #{$ColorSet_ThemeColor_Border_0_Focus};
	--ColorSet_ThemeColor_Border_10: #{$ColorSet_ThemeColor_Border_10};
	--ColorSet_ThemeColor_Border_10_Hover: #{$ColorSet_ThemeColor_Border_10_Hover};
	--ColorSet_ThemeColor_Border_10_Focus: #{$ColorSet_ThemeColor_Border_10_Focus};
	--ColorSet_ThemeColor_Border_20: #{$ColorSet_ThemeColor_Border_20};
	--ColorSet_ThemeColor_Border_20_Hover: #{$ColorSet_ThemeColor_Border_20_Hover};
	--ColorSet_ThemeColor_Border_20_Focus: #{$ColorSet_ThemeColor_Border_20_Focus};
	--ColorSet_ThemeColor_Border_30: #{$ColorSet_ThemeColor_Border_30};
	--ColorSet_ThemeColor_Border_30_Hover: #{$ColorSet_ThemeColor_Border_30_Hover};
	--ColorSet_ThemeColor_Border_30_Focus: #{$ColorSet_ThemeColor_Border_30_Focus};
	--ColorSet_ThemeColor_Border_40: #{$ColorSet_ThemeColor_Border_40};
	--ColorSet_ThemeColor_Border_40_Hover: #{$ColorSet_ThemeColor_Border_40_Hover};
	--ColorSet_ThemeColor_Border_40_Focus: #{$ColorSet_ThemeColor_Border_40_Focus};
	--ColorSet_ThemeColor_Border_50: #{$ColorSet_ThemeColor_Border_50};
	--ColorSet_ThemeColor_Border_50_Hover: #{$ColorSet_ThemeColor_Border_50_Hover};
	--ColorSet_ThemeColor_Border_50_Focus: #{$ColorSet_ThemeColor_Border_50_Focus};
	--ColorSet_ThemeColor_Border_60: #{$ColorSet_ThemeColor_Border_60};
	--ColorSet_ThemeColor_Border_60_Hover: #{$ColorSet_ThemeColor_Border_60_Hover};
	--ColorSet_ThemeColor_Border_60_Focus: #{$ColorSet_ThemeColor_Border_60_Focus};
	--ColorSet_ThemeColor_Border_70: #{$ColorSet_ThemeColor_Border_70};
	--ColorSet_ThemeColor_Border_70_Hover: #{$ColorSet_ThemeColor_Border_70_Hover};
	--ColorSet_ThemeColor_Border_70_Focus: #{$ColorSet_ThemeColor_Border_70_Focus};
	--ColorSet_ThemeColor_Border_80: #{$ColorSet_ThemeColor_Border_80};
	--ColorSet_ThemeColor_Border_80_Hover: #{$ColorSet_ThemeColor_Border_80_Hover};
	--ColorSet_ThemeColor_Border_80_Focus: #{$ColorSet_ThemeColor_Border_80_Focus};
	--ColorSet_ThemeColor_Border_90: #{$ColorSet_ThemeColor_Border_90};
	--ColorSet_ThemeColor_Border_90_Hover: #{$ColorSet_ThemeColor_Border_90_Hover};
	--ColorSet_ThemeColor_Border_90_Focus: #{$ColorSet_ThemeColor_Border_90_Focus};
	--ColorSet_ThemeColor_Border_100: #{$ColorSet_ThemeColor_Border_100};
	--ColorSet_ThemeColor_Border_100_Hover: #{$ColorSet_ThemeColor_Border_100_Hover};
	--ColorSet_ThemeColor_Border_100_Focus: #{$ColorSet_ThemeColor_Border_100_Focus};
	--ColorSet_ThemeColor_Border_110: #{$ColorSet_ThemeColor_Border_110};
	--ColorSet_ThemeColor_Border_110_Hover: #{$ColorSet_ThemeColor_Border_110_Hover};
	--ColorSet_ThemeColor_Border_110_Focus: #{$ColorSet_ThemeColor_Border_110_Focus};
	--ColorSet_ThemeColor_Border_120: #{$ColorSet_ThemeColor_Border_120};
	--ColorSet_ThemeColor_Border_120_Hover: #{$ColorSet_ThemeColor_Border_120_Hover};
	--ColorSet_ThemeColor_Border_120_Focus: #{$ColorSet_ThemeColor_Border_120_Focus};
	--ColorSet_ThemeColor_Border_130: #{$ColorSet_ThemeColor_Border_130};
	--ColorSet_ThemeColor_Border_130_Hover: #{$ColorSet_ThemeColor_Border_130_Hover};
	--ColorSet_ThemeColor_Border_130_Focus: #{$ColorSet_ThemeColor_Border_130_Focus};
	--ColorSet_ThemeColor_Border_140: #{$ColorSet_ThemeColor_Border_140};
	--ColorSet_ThemeColor_Border_140_Hover: #{$ColorSet_ThemeColor_Border_140_Hover};
	--ColorSet_ThemeColor_Border_140_Focus: #{$ColorSet_ThemeColor_Border_140_Focus};
	--ColorSet_ThemeColor_Border_150: #{$ColorSet_ThemeColor_Border_150};
	--ColorSet_ThemeColor_Border_150_Hover: #{$ColorSet_ThemeColor_Border_150_Hover};
	--ColorSet_ThemeColor_Border_150_Focus: #{$ColorSet_ThemeColor_Border_150_Focus};
	--ColorSet_ThemeColor_Border_160: #{$ColorSet_ThemeColor_Border_160};
	--ColorSet_ThemeColor_Border_160_Hover: #{$ColorSet_ThemeColor_Border_160_Hover};
	--ColorSet_ThemeColor_Border_160_Focus: #{$ColorSet_ThemeColor_Border_160_Focus};
	--ColorSet_ThemeColor_Border_170: #{$ColorSet_ThemeColor_Border_170};
	--ColorSet_ThemeColor_Border_170_Hover: #{$ColorSet_ThemeColor_Border_170_Hover};
	--ColorSet_ThemeColor_Border_170_Focus: #{$ColorSet_ThemeColor_Border_170_Focus};
	--ColorSet_ThemeColor_Border_180: #{$ColorSet_ThemeColor_Border_180};
	--ColorSet_ThemeColor_Border_180_Hover: #{$ColorSet_ThemeColor_Border_180_Hover};
	--ColorSet_ThemeColor_Border_180_Focus: #{$ColorSet_ThemeColor_Border_180_Focus};
	--ColorSet_ThemeColor_Border_190: #{$ColorSet_ThemeColor_Border_190};
	--ColorSet_ThemeColor_Border_190_Hover: #{$ColorSet_ThemeColor_Border_190_Hover};
	--ColorSet_ThemeColor_Border_190_Focus: #{$ColorSet_ThemeColor_Border_190_Focus};
	--ColorSet_ThemeColor_Border_200: #{$ColorSet_ThemeColor_Border_200};
	--ColorSet_ThemeColor_Border_200_Hover: #{$ColorSet_ThemeColor_Border_200_Hover};
	--ColorSet_ThemeColor_Border_200_Focus: #{$ColorSet_ThemeColor_Border_200_Focus};
	--ColorSet_ThemeColor_SolidBlue_0: #{$ColorSet_ThemeColor_SolidBlue_0};
	--ColorSet_ThemeColor_SolidBlue_10: #{$ColorSet_ThemeColor_SolidBlue_10};
	--ColorSet_ThemeColor_SolidBlue_20: #{$ColorSet_ThemeColor_SolidBlue_20};
	--ColorSet_ThemeColor_SolidBlue_30: #{$ColorSet_ThemeColor_SolidBlue_30};
	--ColorSet_ThemeColor_SolidBlue_40: #{$ColorSet_ThemeColor_SolidBlue_40};
	--ColorSet_ThemeColor_SolidBlue_50: #{$ColorSet_ThemeColor_SolidBlue_50};
	--ColorSet_ThemeColor_SolidBlue_60: #{$ColorSet_ThemeColor_SolidBlue_60};
	--ColorSet_ThemeColor_SolidBlue_70: #{$ColorSet_ThemeColor_SolidBlue_70};
	--ColorSet_ThemeColor_SolidBlue_80: #{$ColorSet_ThemeColor_SolidBlue_80};
	--ColorSet_ThemeColor_SolidBlue_90: #{$ColorSet_ThemeColor_SolidBlue_90};
	--ColorSet_ThemeColor_SolidBlue_100: #{$ColorSet_ThemeColor_SolidBlue_100};
	--ColorSet_ThemeColor_SolidBlue_110: #{$ColorSet_ThemeColor_SolidBlue_110};
	--ColorSet_ThemeColor_SolidBlue_120: #{$ColorSet_ThemeColor_SolidBlue_120};
	--ColorSet_ThemeColor_SolidBlue_130: #{$ColorSet_ThemeColor_SolidBlue_130};
	--ColorSet_ThemeColor_SolidBlue_140: #{$ColorSet_ThemeColor_SolidBlue_140};
	--ColorSet_ThemeColor_SolidGreen_0: #{$ColorSet_ThemeColor_SolidGreen_0};
	--ColorSet_ThemeColor_SolidGreen_10: #{$ColorSet_ThemeColor_SolidGreen_10};
	--ColorSet_ThemeColor_SolidGreen_20: #{$ColorSet_ThemeColor_SolidGreen_20};
	--ColorSet_ThemeColor_SolidGreen_30: #{$ColorSet_ThemeColor_SolidGreen_30};
	--ColorSet_ThemeColor_SolidGreen_40: #{$ColorSet_ThemeColor_SolidGreen_40};
	--ColorSet_ThemeColor_SolidGreen_50: #{$ColorSet_ThemeColor_SolidGreen_50};
	--ColorSet_ThemeColor_SolidGreen_60: #{$ColorSet_ThemeColor_SolidGreen_60};
	--ColorSet_ThemeColor_SolidGreen_70: #{$ColorSet_ThemeColor_SolidGreen_70};
	--ColorSet_ThemeColor_SolidGreen_80: #{$ColorSet_ThemeColor_SolidGreen_80};
	--ColorSet_ThemeColor_SolidGreen_90: #{$ColorSet_ThemeColor_SolidGreen_90};
	--ColorSet_ThemeColor_SolidGreen_100: #{$ColorSet_ThemeColor_SolidGreen_100};
	--ColorSet_ThemeColor_SolidGreen_110: #{$ColorSet_ThemeColor_SolidGreen_110};
	--ColorSet_ThemeColor_SolidGreen_120: #{$ColorSet_ThemeColor_SolidGreen_120};
	--ColorSet_ThemeColor_SolidGreen_130: #{$ColorSet_ThemeColor_SolidGreen_130};
	--ColorSet_ThemeColor_SolidGreen_140: #{$ColorSet_ThemeColor_SolidGreen_140};
	--ColorSet_ThemeColor_SolidRed_0: #{$ColorSet_ThemeColor_SolidRed_0};
	--ColorSet_ThemeColor_SolidRed_10: #{$ColorSet_ThemeColor_SolidRed_10};
	--ColorSet_ThemeColor_SolidRed_20: #{$ColorSet_ThemeColor_SolidRed_20};
	--ColorSet_ThemeColor_SolidRed_30: #{$ColorSet_ThemeColor_SolidRed_30};
	--ColorSet_ThemeColor_SolidRed_40: #{$ColorSet_ThemeColor_SolidRed_40};
	--ColorSet_ThemeColor_SolidRed_50: #{$ColorSet_ThemeColor_SolidRed_50};
	--ColorSet_ThemeColor_SolidRed_60: #{$ColorSet_ThemeColor_SolidRed_60};
	--ColorSet_ThemeColor_SolidRed_70: #{$ColorSet_ThemeColor_SolidRed_70};
	--ColorSet_ThemeColor_SolidRed_80: #{$ColorSet_ThemeColor_SolidRed_80};
	--ColorSet_ThemeColor_SolidRed_90: #{$ColorSet_ThemeColor_SolidRed_90};
	--ColorSet_ThemeColor_SolidRed_100: #{$ColorSet_ThemeColor_SolidRed_100};
	--ColorSet_ThemeColor_SolidRed_110: #{$ColorSet_ThemeColor_SolidRed_110};
	--ColorSet_ThemeColor_SolidRed_120: #{$ColorSet_ThemeColor_SolidRed_120};
	--ColorSet_ThemeColor_SolidRed_130: #{$ColorSet_ThemeColor_SolidRed_130};
	--ColorSet_ThemeColor_SolidRed_140: #{$ColorSet_ThemeColor_SolidRed_140};
	--ColorSet_ThemeColor_SolidYellow_0: #{$ColorSet_ThemeColor_SolidYellow_0};
	--ColorSet_ThemeColor_SolidYellow_10: #{$ColorSet_ThemeColor_SolidYellow_10};
	--ColorSet_ThemeColor_SolidYellow_20: #{$ColorSet_ThemeColor_SolidYellow_20};
	--ColorSet_ThemeColor_SolidYellow_30: #{$ColorSet_ThemeColor_SolidYellow_30};
	--ColorSet_ThemeColor_SolidYellow_40: #{$ColorSet_ThemeColor_SolidYellow_40};
	--ColorSet_ThemeColor_SolidYellow_50: #{$ColorSet_ThemeColor_SolidYellow_50};
	--ColorSet_ThemeColor_SolidYellow_60: #{$ColorSet_ThemeColor_SolidYellow_60};
	--ColorSet_ThemeColor_SolidYellow_70: #{$ColorSet_ThemeColor_SolidYellow_70};
	--ColorSet_ThemeColor_SolidYellow_80: #{$ColorSet_ThemeColor_SolidYellow_80};
	--ColorSet_ThemeColor_SolidYellow_90: #{$ColorSet_ThemeColor_SolidYellow_90};
	--ColorSet_ThemeColor_SolidYellow_100: #{$ColorSet_ThemeColor_SolidYellow_100};
	--ColorSet_ThemeColor_SolidYellow_110: #{$ColorSet_ThemeColor_SolidYellow_110};
	--ColorSet_ThemeColor_SolidYellow_120: #{$ColorSet_ThemeColor_SolidYellow_120};
	--ColorSet_ThemeColor_SolidYellow_130: #{$ColorSet_ThemeColor_SolidYellow_130};
	--ColorSet_ThemeColor_SolidYellow_140: #{$ColorSet_ThemeColor_SolidYellow_140};
	--ColorSet_ThemeColor_Text_0: #{$ColorSet_ThemeColor_Text_0};
	--ColorSet_ThemeColor_Text_10: #{$ColorSet_ThemeColor_Text_10};
	--ColorSet_ThemeColor_Text_20: #{$ColorSet_ThemeColor_Text_20};
	--ColorSet_ThemeColor_Text_30: #{$ColorSet_ThemeColor_Text_30};
	--ColorSet_ThemeColor_Text_40: #{$ColorSet_ThemeColor_Text_40};
	--ColorSet_ThemeColor_Text_50: #{$ColorSet_ThemeColor_Text_50};
	--ColorSet_ThemeColor_Text_60: #{$ColorSet_ThemeColor_Text_60};
	--ColorSet_ThemeColor_Text_70: #{$ColorSet_ThemeColor_Text_70};
	--ColorSet_ThemeColor_Text_80: #{$ColorSet_ThemeColor_Text_80};
	--ColorSet_ThemeColor_TR_0: #{$ColorSet_ThemeColor_TR_0};
	--ColorSet_ThemeColor_TR_10: #{$ColorSet_ThemeColor_TR_10};
	--ColorSet_ThemeColor_TR_20: #{$ColorSet_ThemeColor_TR_20};
	--ColorSet_ThemeColor_TR_30: #{$ColorSet_ThemeColor_TR_30};
	--ColorSet_ThemeColor_TR_Green_0: #{$ColorSet_ThemeColor_TR_Green_0};
	--ColorSet_ThemeColor_TR_Green_10: #{$ColorSet_ThemeColor_TR_Green_10};
	--ColorSet_ThemeColor_TR_Green_20: #{$ColorSet_ThemeColor_TR_Green_20};
	--ColorSet_ThemeColor_TR_Green_30: #{$ColorSet_ThemeColor_TR_Green_30};
	--ColorSet_ThemeColor_TR_Red_0: #{$ColorSet_ThemeColor_TR_Red_0};
	--ColorSet_ThemeColor_TR_Red_10: #{$ColorSet_ThemeColor_TR_Red_10};
	--ColorSet_ThemeColor_TR_Red_20: #{$ColorSet_ThemeColor_TR_Red_20};
	--ColorSet_ThemeColor_TR_Red_30: #{$ColorSet_ThemeColor_TR_Red_30};
}
