@import 'theme.scss';
@import 'usage.scss';
:root {
	--ColorSet_ThemeColor_Accent_0: #{#310d80};
	--ColorSet_ThemeColor_Accent_0_Hover: #{#320d82};
	--ColorSet_ThemeColor_Accent_0_Focus: #{#330d85};
	--ColorSet_ThemeColor_Accent_10: #{#4112a6};
	--ColorSet_ThemeColor_Accent_10_Hover: #{#4212a8};
	--ColorSet_ThemeColor_Accent_10_Focus: #{#4313ab};
	--ColorSet_ThemeColor_Accent_20: #{#5019c6};
	--ColorSet_ThemeColor_Accent_20_Hover: #{#5119c9};
	--ColorSet_ThemeColor_Accent_20_Focus: #{#5219cb};
	--ColorSet_ThemeColor_Accent_30: #{#5d21de};
	--ColorSet_ThemeColor_Accent_30_Hover: #{#5e22e0};
	--ColorSet_ThemeColor_Accent_30_Focus: #{#5f22e3};
	--ColorSet_ThemeColor_Accent_40: #{#6a2eec};
	--ColorSet_ThemeColor_Accent_40_Hover: #{#6b2eef};
	--ColorSet_ThemeColor_Accent_40_Focus: #{#6d2ff2};
	--ColorSet_ThemeColor_Accent_50: #{#7b42f5};
	--ColorSet_ThemeColor_Accent_50_Hover: #{#7c43f8};
	--ColorSet_ThemeColor_Accent_50_Focus: #{#7d44fa};
	--ColorSet_ThemeColor_Accent_60: #{#9262fa};
	--ColorSet_ThemeColor_Accent_60_Hover: #{#9363fd};
	--ColorSet_ThemeColor_Accent_60_Focus: #{#9564ff};
	--ColorSet_ThemeColor_Accent_70: #{#b08dfd};
	--ColorSet_ThemeColor_Accent_70_Hover: #{#b28eff};
	--ColorSet_ThemeColor_Accent_70_Focus: #{#b48fff};
	--ColorSet_ThemeColor_Accent_80: #{#d3bfff};
	--ColorSet_ThemeColor_Accent_80_Hover: #{#d6c1ff};
	--ColorSet_ThemeColor_Accent_80_Focus: #{#d8c3ff};
	--ColorSet_ThemeColor_AccentBorder_0: #{#360e8c};
	--ColorSet_ThemeColor_AccentBorder_0_Hover: #{#3b0f99};
	--ColorSet_ThemeColor_AccentBorder_0_Focus: #{#3e10a1};
	--ColorSet_ThemeColor_AccentBorder_10: #{#4413af};
	--ColorSet_ThemeColor_AccentBorder_10_Hover: #{#4915bb};
	--ColorSet_ThemeColor_AccentBorder_10_Focus: #{#4c15c3};
	--ColorSet_ThemeColor_AccentBorder_20: #{#5219cc};
	--ColorSet_ThemeColor_AccentBorder_20_Hover: #{#571bd8};
	--ColorSet_ThemeColor_AccentBorder_20_Focus: #{#5a1ce0};
	--ColorSet_ThemeColor_AccentBorder_30: #{#5e22e1};
	--ColorSet_ThemeColor_AccentBorder_30_Hover: #{#6424ee};
	--ColorSet_ThemeColor_AccentBorder_30_Focus: #{#6725f5};
	--ColorSet_ThemeColor_AccentBorder_40: #{#6b2eee};
	--ColorSet_ThemeColor_AccentBorder_40_Hover: #{#7131fb};
	--ColorSet_ThemeColor_AccentBorder_40_Focus: #{#7432ff};
	--ColorSet_ThemeColor_AccentBorder_50: #{#7b42f6};
	--ColorSet_ThemeColor_AccentBorder_50_Hover: #{#8246ff};
	--ColorSet_ThemeColor_AccentBorder_50_Focus: #{#8648ff};
	--ColorSet_ThemeColor_AccentBorder_60: #{#9262fb};
	--ColorSet_ThemeColor_AccentBorder_60_Hover: #{#9a67ff};
	--ColorSet_ThemeColor_AccentBorder_60_Focus: #{#9e6aff};
	--ColorSet_ThemeColor_AccentBorder_70: #{#b08dfd};
	--ColorSet_ThemeColor_AccentBorder_70_Hover: #{#b994ff};
	--ColorSet_ThemeColor_AccentBorder_70_Focus: #{#bf98ff};
	--ColorSet_ThemeColor_AccentBorder_80: #{#d3bfff};
	--ColorSet_ThemeColor_AccentBorder_80_Hover: #{#dec9ff};
	--ColorSet_ThemeColor_AccentBorder_80_Focus: #{#e4cfff};
	--ColorSet_ThemeColor_Background_0: #{#000000};
	--ColorSet_ThemeColor_Background_0_Hover: #{#050505};
	--ColorSet_ThemeColor_Background_0_Focus: #{#070708};
	--ColorSet_ThemeColor_Background_10: #{#040405};
	--ColorSet_ThemeColor_Background_10_Hover: #{#09090a};
	--ColorSet_ThemeColor_Background_10_Focus: #{#0b0b0c};
	--ColorSet_ThemeColor_Background_20: #{#090809};
	--ColorSet_ThemeColor_Background_20_Hover: #{#0d0d0f};
	--ColorSet_ThemeColor_Background_20_Focus: #{#0f0f11};
	--ColorSet_ThemeColor_Background_30: #{#0d0c0e};
	--ColorSet_ThemeColor_Background_30_Hover: #{#111013};
	--ColorSet_ThemeColor_Background_30_Focus: #{#141216};
	--ColorSet_ThemeColor_Background_40: #{#111013};
	--ColorSet_ThemeColor_Background_40_Hover: #{#151418};
	--ColorSet_ThemeColor_Background_40_Focus: #{#18161b};
	--ColorSet_ThemeColor_Background_50: #{#151418};
	--ColorSet_ThemeColor_Background_50_Hover: #{#19181d};
	--ColorSet_ThemeColor_Background_50_Focus: #{#1c1a1f};
	--ColorSet_ThemeColor_Background_60: #{#19171c};
	--ColorSet_ThemeColor_Background_60_Hover: #{#1d1c21};
	--ColorSet_ThemeColor_Background_60_Focus: #{#201e24};
	--ColorSet_ThemeColor_Background_70: #{#1d1b21};
	--ColorSet_ThemeColor_Background_70_Hover: #{#211f26};
	--ColorSet_ThemeColor_Background_70_Focus: #{#242129};
	--ColorSet_ThemeColor_Background_80: #{#211f26};
	--ColorSet_ThemeColor_Background_80_Hover: #{#25232b};
	--ColorSet_ThemeColor_Background_80_Focus: #{#28252d};
	--ColorSet_ThemeColor_Background_90: #{#25222a};
	--ColorSet_ThemeColor_Background_90_Hover: #{#292730};
	--ColorSet_ThemeColor_Background_90_Focus: #{#2c2932};
	--ColorSet_ThemeColor_Background_100: #{#29262f};
	--ColorSet_ThemeColor_Background_100_Hover: #{#2d2a34};
	--ColorSet_ThemeColor_Background_100_Focus: #{#302c37};
	--ColorSet_ThemeColor_Background_110: #{#2d2a34};
	--ColorSet_ThemeColor_Background_110_Hover: #{#312e39};
	--ColorSet_ThemeColor_Background_110_Focus: #{#34303c};
	--ColorSet_ThemeColor_Background_120: #{#312e39};
	--ColorSet_ThemeColor_Background_120_Hover: #{#35323e};
	--ColorSet_ThemeColor_Background_120_Focus: #{#383440};
	--ColorSet_ThemeColor_Background_130: #{#35313d};
	--ColorSet_ThemeColor_Background_130_Hover: #{#3a3542};
	--ColorSet_ThemeColor_Background_130_Focus: #{#3c3745};
	--ColorSet_ThemeColor_Background_140: #{#393542};
	--ColorSet_ThemeColor_Background_140_Hover: #{#3e3947};
	--ColorSet_ThemeColor_Background_140_Focus: #{#403b4a};
	--ColorSet_ThemeColor_Background_150: #{#3d3947};
	--ColorSet_ThemeColor_Background_150_Hover: #{#423d4c};
	--ColorSet_ThemeColor_Background_150_Focus: #{#443f4e};
	--ColorSet_ThemeColor_Background_160: #{#413c4b};
	--ColorSet_ThemeColor_Background_160_Hover: #{#464151};
	--ColorSet_ThemeColor_Background_160_Focus: #{#484353};
	--ColorSet_ThemeColor_Background_170: #{#454050};
	--ColorSet_ThemeColor_Background_170_Hover: #{#4a4455};
	--ColorSet_ThemeColor_Background_170_Focus: #{#4c4658};
	--ColorSet_ThemeColor_Background_180: #{#494455};
	--ColorSet_ThemeColor_Background_180_Hover: #{#4e485a};
	--ColorSet_ThemeColor_Background_180_Focus: #{#504a5d};
	--ColorSet_ThemeColor_Background_190: #{#4d485a};
	--ColorSet_ThemeColor_Background_190_Hover: #{#524c5f};
	--ColorSet_ThemeColor_Background_190_Focus: #{#544e61};
	--ColorSet_ThemeColor_Background_200: #{#514b5e};
	--ColorSet_ThemeColor_Background_200_Hover: #{#565063};
	--ColorSet_ThemeColor_Background_200_Focus: #{#585266};
	--ColorSet_ThemeColor_BackgroundInverse_0: #{#ffffff};
	--ColorSet_ThemeColor_BackgroundInverse_0_Hover: #{#ffffff};
	--ColorSet_ThemeColor_BackgroundInverse_0_Focus: #{#ffffff};
	--ColorSet_ThemeColor_BackgroundInverse_10: #{#f8fcff};
	--ColorSet_ThemeColor_BackgroundInverse_10_Hover: #{#fdffff};
	--ColorSet_ThemeColor_BackgroundInverse_10_Focus: #{#ffffff};
	--ColorSet_ThemeColor_BackgroundInverse_20: #{#f3f9ff};
	--ColorSet_ThemeColor_BackgroundInverse_20_Hover: #{#f8feff};
	--ColorSet_ThemeColor_BackgroundInverse_20_Focus: #{#faffff};
	--ColorSet_ThemeColor_BackgroundInverse_30: #{#eff7fe};
	--ColorSet_ThemeColor_BackgroundInverse_30_Hover: #{#f3fbff};
	--ColorSet_ThemeColor_BackgroundInverse_30_Focus: #{#f6feff};
	--ColorSet_ThemeColor_BackgroundInverse_40: #{#ebf4fe};
	--ColorSet_ThemeColor_BackgroundInverse_40_Hover: #{#f0f9ff};
	--ColorSet_ThemeColor_BackgroundInverse_40_Focus: #{#f2fcff};
	--ColorSet_ThemeColor_BackgroundInverse_50: #{#e8f3fd};
	--ColorSet_ThemeColor_BackgroundInverse_50_Hover: #{#edf7ff};
	--ColorSet_ThemeColor_BackgroundInverse_50_Focus: #{#effaff};
	--ColorSet_ThemeColor_BackgroundInverse_60: #{#e5f1fc};
	--ColorSet_ThemeColor_BackgroundInverse_60_Hover: #{#eaf6ff};
	--ColorSet_ThemeColor_BackgroundInverse_60_Focus: #{#ecf8ff};
	--ColorSet_ThemeColor_BackgroundInverse_70: #{#e3effb};
	--ColorSet_ThemeColor_BackgroundInverse_70_Hover: #{#e7f4ff};
	--ColorSet_ThemeColor_BackgroundInverse_70_Focus: #{#e9f6ff};
	--ColorSet_ThemeColor_BackgroundInverse_80: #{#e0edfa};
	--ColorSet_ThemeColor_BackgroundInverse_80_Hover: #{#e5f2ff};
	--ColorSet_ThemeColor_BackgroundInverse_80_Focus: #{#e7f4ff};
	--ColorSet_ThemeColor_BackgroundInverse_90: #{#ddebf8};
	--ColorSet_ThemeColor_BackgroundInverse_90_Hover: #{#e2effd};
	--ColorSet_ThemeColor_BackgroundInverse_90_Focus: #{#e4f2ff};
	--ColorSet_ThemeColor_BackgroundInverse_100: #{#dbe8f5};
	--ColorSet_ThemeColor_BackgroundInverse_100_Hover: #{#dfedfb};
	--ColorSet_ThemeColor_BackgroundInverse_100_Focus: #{#e1effd};
	--ColorSet_ThemeColor_BackgroundInverse_110: #{#d7e5f3};
	--ColorSet_ThemeColor_BackgroundInverse_110_Hover: #{#dceaf8};
	--ColorSet_ThemeColor_BackgroundInverse_110_Focus: #{#deecfa};
	--ColorSet_ThemeColor_BackgroundInverse_120: #{#d4e2ef};
	--ColorSet_ThemeColor_BackgroundInverse_120_Hover: #{#d8e6f4};
	--ColorSet_ThemeColor_BackgroundInverse_120_Focus: #{#dbe9f7};
	--ColorSet_ThemeColor_BackgroundInverse_130: #{#d0deeb};
	--ColorSet_ThemeColor_BackgroundInverse_130_Hover: #{#d4e2f0};
	--ColorSet_ThemeColor_BackgroundInverse_130_Focus: #{#d7e5f3};
	--ColorSet_ThemeColor_BackgroundInverse_140: #{#cbd9e6};
	--ColorSet_ThemeColor_BackgroundInverse_140_Hover: #{#d0deeb};
	--ColorSet_ThemeColor_BackgroundInverse_140_Focus: #{#d2e0ee};
	--ColorSet_ThemeColor_BackgroundInverse_150: #{#c6d3e0};
	--ColorSet_ThemeColor_BackgroundInverse_150_Hover: #{#cad8e6};
	--ColorSet_ThemeColor_BackgroundInverse_150_Focus: #{#cddae8};
	--ColorSet_ThemeColor_BackgroundInverse_160: #{#bfccd9};
	--ColorSet_ThemeColor_BackgroundInverse_160_Hover: #{#c4d1de};
	--ColorSet_ThemeColor_BackgroundInverse_160_Focus: #{#c6d4e1};
	--ColorSet_ThemeColor_BackgroundInverse_170: #{#b8c5d1};
	--ColorSet_ThemeColor_BackgroundInverse_170_Hover: #{#bdc9d6};
	--ColorSet_ThemeColor_BackgroundInverse_170_Focus: #{#bfccd9};
	--ColorSet_ThemeColor_BackgroundInverse_180: #{#b0bcc8};
	--ColorSet_ThemeColor_BackgroundInverse_180_Hover: #{#b4c0cd};
	--ColorSet_ThemeColor_BackgroundInverse_180_Focus: #{#b6c3cf};
	--ColorSet_ThemeColor_BackgroundInverse_190: #{#a7b2bd};
	--ColorSet_ThemeColor_BackgroundInverse_190_Hover: #{#abb7c2};
	--ColorSet_ThemeColor_BackgroundInverse_190_Focus: #{#adb9c5};
	--ColorSet_ThemeColor_BackgroundInverse_200: #{#9da8b3};
	--ColorSet_ThemeColor_BackgroundInverse_200_Hover: #{#a2adb8};
	--ColorSet_ThemeColor_BackgroundInverse_200_Focus: #{#a4afba};
	--ColorSet_ThemeColor_Border_0: #{#18171a};
	--ColorSet_ThemeColor_Border_0_Hover: #{#242226};
	--ColorSet_ThemeColor_Border_0_Focus: #{#2b292e};
	--ColorSet_ThemeColor_Border_10: #{#1c1b1e};
	--ColorSet_ThemeColor_Border_10_Hover: #{#27262b};
	--ColorSet_ThemeColor_Border_10_Focus: #{#2e2c33};
	--ColorSet_ThemeColor_Border_20: #{#201e23};
	--ColorSet_ThemeColor_Border_20_Hover: #{#2b2930};
	--ColorSet_ThemeColor_Border_20_Focus: #{#323037};
	--ColorSet_ThemeColor_Border_30: #{#242228};
	--ColorSet_ThemeColor_Border_30_Hover: #{#2f2c34};
	--ColorSet_ThemeColor_Border_30_Focus: #{#36333c};
	--ColorSet_ThemeColor_Border_40: #{#27252c};
	--ColorSet_ThemeColor_Border_40_Hover: #{#333039};
	--ColorSet_ThemeColor_Border_40_Focus: #{#3a3641};
	--ColorSet_ThemeColor_Border_50: #{#2b2931};
	--ColorSet_ThemeColor_Border_50_Hover: #{#37333e};
	--ColorSet_ThemeColor_Border_50_Focus: #{#3d3a45};
	--ColorSet_ThemeColor_Border_60: #{#2f2c36};
	--ColorSet_ThemeColor_Border_60_Hover: #{#3b3743};
	--ColorSet_ThemeColor_Border_60_Focus: #{#413d4a};
	--ColorSet_ThemeColor_Border_70: #{#33303b};
	--ColorSet_ThemeColor_Border_70_Hover: #{#3e3a47};
	--ColorSet_ThemeColor_Border_70_Focus: #{#45414f};
	--ColorSet_ThemeColor_Border_80: #{#37343f};
	--ColorSet_ThemeColor_Border_80_Hover: #{#423e4c};
	--ColorSet_ThemeColor_Border_80_Focus: #{#494454};
	--ColorSet_ThemeColor_Border_90: #{#3b3744};
	--ColorSet_ThemeColor_Border_90_Hover: #{#464151};
	--ColorSet_ThemeColor_Border_90_Focus: #{#4d4858};
	--ColorSet_ThemeColor_Border_100: #{#3f3b49};
	--ColorSet_ThemeColor_Border_100_Hover: #{#4a4555};
	--ColorSet_ThemeColor_Border_100_Focus: #{#514b5d};
	--ColorSet_ThemeColor_Border_110: #{#433e4d};
	--ColorSet_ThemeColor_Border_110_Hover: #{#4e495a};
	--ColorSet_ThemeColor_Border_110_Focus: #{#554f62};
	--ColorSet_ThemeColor_Border_120: #{#474252};
	--ColorSet_ThemeColor_Border_120_Hover: #{#524c5f};
	--ColorSet_ThemeColor_Border_120_Focus: #{#595267};
	--ColorSet_ThemeColor_Border_130: #{#4b4657};
	--ColorSet_ThemeColor_Border_130_Hover: #{#565064};
	--ColorSet_ThemeColor_Border_130_Focus: #{#5d566b};
	--ColorSet_ThemeColor_Border_140: #{#4f495c};
	--ColorSet_ThemeColor_Border_140_Hover: #{#5a5468};
	--ColorSet_ThemeColor_Border_140_Focus: #{#615a70};
	--ColorSet_ThemeColor_Border_150: #{#534d60};
	--ColorSet_ThemeColor_Border_150_Hover: #{#5e576d};
	--ColorSet_ThemeColor_Border_150_Focus: #{#655e75};
	--ColorSet_ThemeColor_Border_160: #{#575165};
	--ColorSet_ThemeColor_Border_160_Hover: #{#625b72};
	--ColorSet_ThemeColor_Border_160_Focus: #{#696179};
	--ColorSet_ThemeColor_Border_170: #{#5b556a};
	--ColorSet_ThemeColor_Border_170_Hover: #{#665f76};
	--ColorSet_ThemeColor_Border_170_Focus: #{#6d657e};
	--ColorSet_ThemeColor_Border_180: #{#5f586e};
	--ColorSet_ThemeColor_Border_180_Hover: #{#6a637b};
	--ColorSet_ThemeColor_Border_180_Focus: #{#716983};
	--ColorSet_ThemeColor_Border_190: #{#635c73};
	--ColorSet_ThemeColor_Border_190_Hover: #{#6e6680};
	--ColorSet_ThemeColor_Border_190_Focus: #{#756c88};
	--ColorSet_ThemeColor_Border_200: #{#676078};
	--ColorSet_ThemeColor_Border_200_Hover: #{#726a85};
	--ColorSet_ThemeColor_Border_200_Focus: #{#79708c};
	--ColorSet_ThemeColor_SolidBlue_0: #{#0000ff};
	--ColorSet_ThemeColor_SolidBlue_10: #{#0b0ff6};
	--ColorSet_ThemeColor_SolidBlue_20: #{#141ceb};
	--ColorSet_ThemeColor_SolidBlue_30: #{#1d27e0};
	--ColorSet_ThemeColor_SolidBlue_40: #{#2431d5};
	--ColorSet_ThemeColor_SolidBlue_50: #{#2b39ca};
	--ColorSet_ThemeColor_SolidBlue_60: #{#3141c0};
	--ColorSet_ThemeColor_SolidBlue_70: #{#3747b7};
	--ColorSet_ThemeColor_SolidBlue_80: #{#3c4caf};
	--ColorSet_ThemeColor_SolidBlue_90: #{#4151a8};
	--ColorSet_ThemeColor_SolidBlue_100: #{#4656a2};
	--ColorSet_ThemeColor_SolidBlue_110: #{#4b5b9e};
	--ColorSet_ThemeColor_SolidBlue_120: #{#50609b};
	--ColorSet_ThemeColor_SolidBlue_130: #{#56659a};
	--ColorSet_ThemeColor_SolidBlue_140: #{#5c6b99};
	--ColorSet_ThemeColor_SolidGreen_0: #{#00ff00};
	--ColorSet_ThemeColor_SolidGreen_10: #{#01f401};
	--ColorSet_ThemeColor_SolidGreen_20: #{#02e602};
	--ColorSet_ThemeColor_SolidGreen_30: #{#04d804};
	--ColorSet_ThemeColor_SolidGreen_40: #{#06ca06};
	--ColorSet_ThemeColor_SolidGreen_50: #{#08bd08};
	--ColorSet_ThemeColor_SolidGreen_60: #{#0bb00b};
	--ColorSet_ThemeColor_SolidGreen_70: #{#0ea50e};
	--ColorSet_ThemeColor_SolidGreen_80: #{#139b13};
	--ColorSet_ThemeColor_SolidGreen_90: #{#199219};
	--ColorSet_ThemeColor_SolidGreen_100: #{#208b20};
	--ColorSet_ThemeColor_SolidGreen_110: #{#298629};
	--ColorSet_ThemeColor_SolidGreen_120: #{#348234};
	--ColorSet_ThemeColor_SolidGreen_130: #{#408040};
	--ColorSet_ThemeColor_SolidGreen_140: #{#4d804d};
	--ColorSet_ThemeColor_SolidRed_0: #{#ff0000};
	--ColorSet_ThemeColor_SolidRed_10: #{#f80808};
	--ColorSet_ThemeColor_SolidRed_20: #{#f00f0f};
	--ColorSet_ThemeColor_SolidRed_30: #{#e91616};
	--ColorSet_ThemeColor_SolidRed_40: #{#e21d1d};
	--ColorSet_ThemeColor_SolidRed_50: #{#db2323};
	--ColorSet_ThemeColor_SolidRed_60: #{#d32929};
	--ColorSet_ThemeColor_SolidRed_70: #{#cc2e2e};
	--ColorSet_ThemeColor_SolidRed_80: #{#c53333};
	--ColorSet_ThemeColor_SolidRed_90: #{#bd3737};
	--ColorSet_ThemeColor_SolidRed_100: #{#b63b3b};
	--ColorSet_ThemeColor_SolidRed_110: #{#af3e3e};
	--ColorSet_ThemeColor_SolidRed_120: #{#a84141};
	--ColorSet_ThemeColor_SolidRed_130: #{#a04343};
	--ColorSet_ThemeColor_SolidRed_140: #{#994545};
	--ColorSet_ThemeColor_SolidYellow_0: #{#ffff00};
	--ColorSet_ThemeColor_SolidYellow_10: #{#f6f601};
	--ColorSet_ThemeColor_SolidYellow_20: #{#eded03};
	--ColorSet_ThemeColor_SolidYellow_30: #{#e4e404};
	--ColorSet_ThemeColor_SolidYellow_40: #{#dbdb06};
	--ColorSet_ThemeColor_SolidYellow_50: #{#d1d109};
	--ColorSet_ThemeColor_SolidYellow_60: #{#c8c80c};
	--ColorSet_ThemeColor_SolidYellow_70: #{#bfbf11};
	--ColorSet_ThemeColor_SolidYellow_80: #{#b6b616};
	--ColorSet_ThemeColor_SolidYellow_90: #{#adad1d};
	--ColorSet_ThemeColor_SolidYellow_100: #{#a4a426};
	--ColorSet_ThemeColor_SolidYellow_110: #{#9b9b30};
	--ColorSet_ThemeColor_SolidYellow_120: #{#92923a};
	--ColorSet_ThemeColor_SolidYellow_130: #{#898944};
	--ColorSet_ThemeColor_SolidYellow_140: #{#80804d};
	--ColorSet_ThemeColor_Text_0: #{#504c59};
	--ColorSet_ThemeColor_Text_10: #{#7d778b};
	--ColorSet_ThemeColor_Text_20: #{#a49cb5};
	--ColorSet_ThemeColor_Text_30: #{#c1b9d4};
	--ColorSet_ThemeColor_Text_40: #{#d5cde7};
	--ColorSet_ThemeColor_Text_50: #{#e3ddf2};
	--ColorSet_ThemeColor_Text_60: #{#eeeaf9};
	--ColorSet_ThemeColor_Text_70: #{#f7f5fc};
	--ColorSet_ThemeColor_Text_80: #{#ffffff};
	--ColorSet_ThemeColor_TR_0: #{#0b0a0d};
	--ColorSet_ThemeColor_TR_10: #{#111014};
	--ColorSet_ThemeColor_TR_20: #{#151318};
	--ColorSet_ThemeColor_TR_30: #{#16141a};
	--ColorSet_ThemeColor_TR_Green_0: #{#001a00};
	--ColorSet_ThemeColor_TR_Green_10: #{#002000};
	--ColorSet_ThemeColor_TR_Green_20: #{#002500};
	--ColorSet_ThemeColor_TR_Green_30: #{#002600};
	--ColorSet_ThemeColor_TR_Red_0: #{#210000};
	--ColorSet_ThemeColor_TR_Red_10: #{#280000};
	--ColorSet_ThemeColor_TR_Red_20: #{#2c0000};
	--ColorSet_ThemeColor_TR_Red_30: #{#2e0000};
	--ColorSet_ThemeColor_AccentText: #{white};
	--ColorSet_ThemeColor_ElementShadow: #{hsla(0, 0%, 0%, 1)};
	--ColorSet_ThemeColor_DropShadow: #{hsla(0, 0%, 0%, 1)};
	--ColorSet_ThemeColor_ColorLink: #{$ColorSet_ThemeColor_Accent_60};
	--ColorSet_ThemeColor_ColorLink_Hover: #{$ColorSet_ThemeColor_Accent_70};
	--ColorSet_ThemeColor_ColorLink_Active: #{$ColorSet_ThemeColor_Accent_80};
	--ColorSet_ThemeColor_Shadow_0: #{hsla(0, 0%, 0%, 0.5)};
	--ColorSet_ThemeColor_Shadow_10: #{hsla(0, 0%, 0%, 0.6)};
	--ColorSet_ThemeColor_Shadow_20: #{hsla(0, 0%, 0%, 0.7)};
	--ColorSet_ThemeColor_Shadow_30: #{hsla(0, 0%, 0%, 0.8)};
	--ColorSet_ThemeColor_Shadow_40: #{hsla(0, 0%, 0%, 0.9)};
	--ColorSet_ThemeColor_Shadow_50: #{hsla(0, 0%, 0%, 0.95)};
	--ColorSet_ThemeColor_Shadow_60: #{hsla(0, 0%, 0%, 1)};
	--ColorSet_Color_PageBG: #{$ColorSet_ThemeColor_Background_30};
	--ColorSet_Color_HeaderLink: #{$ColorSet_ThemeColor_Text_50};
	--ColorSet_Color_HeaderLink_Hover: #{$ColorSet_ThemeColor_Text_40};
	--ColorSet_Color_HeaderPrimaryBG: #{$ColorSet_ThemeColor_Background_90};
	--ColorSet_Color_HeaderPrimaryBorder: #{$ColorSet_ThemeColor_Border_90};
	--ColorSet_Color_SubheaderBG: #{$ColorSet_ThemeColor_Background_70};
	--ColorSet_Color_SubheaderBorder: #{$ColorSet_ThemeColor_Border_70};
	--ColorSet_Color_SubheaderPath: #{$ColorSet_ThemeColor_Background_110};
	--ColorSet_Color_HeaderVerticalLine: #{$ColorSet_ThemeColor_Background_150};
	--ColorSet_Color_BlockBG: #{$ColorSet_ThemeColor_Background_60};
	--ColorSet_Color_BlockBorder: #{$ColorSet_ThemeColor_Border_60};
	--ColorSet_Color_ElementShadow: #{$ColorSet_ThemeColor_ElementShadow};
	--ColorSet_Color_DropShadow: #{$ColorSet_ThemeColor_DropShadow};
	--ColorSet_Color_HTMLPageText: #{$ColorSet_ThemeColor_Text_50};
	--ColorSet_Color_HTMLScrollBG: #{unset};
	--ColorSet_Color_HTMLScrollThumb: #{unset};
	--ColorSet_Color_HTMLScrollThumb_Hover: #{unset};
	--ColorSet_Color_HeaderText: #{$ColorSet_ThemeColor_Text_80};
	--ColorSet_Color_HeaderText_Hover: #{$ColorSet_ThemeColor_Text_60};
	--ColorSet_Color_InputBG: #{$ColorSet_ThemeColor_Background_60};
	--ColorSet_Color_InputBG_Active: #{$ColorSet_ThemeColor_Background_60_Focus};
	--ColorSet_Color_InputBG_Disabled: #{$ColorSet_ThemeColor_Background_40};
	--ColorSet_Color_InputBG_Hover: #{$ColorSet_ThemeColor_Background_60_Hover};
	--ColorSet_Color_InputBorder: #{$ColorSet_ThemeColor_Border_60};
	--ColorSet_Color_InputBorder_Active: #{$ColorSet_ThemeColor_Border_60_Focus};
	--ColorSet_Color_InputBorder_Active_Highlight: #{$ColorSet_ThemeColor_Accent_40};
	--ColorSet_Color_InputBorder_Disabled: #{$ColorSet_ThemeColor_Border_20};
	--ColorSet_Color_InputBorder_Hover: #{$ColorSet_ThemeColor_Border_60_Hover};
	--ColorSet_Color_InputEditableAccent: #{$ColorSet_ThemeColor_Accent_40};
	--ColorSet_Color_InputText: #{$ColorSet_ThemeColor_Text_60};
	--ColorSet_Color_InputText_Dithered: #{$ColorSet_ThemeColor_Text_40};
	--ColorSet_Color_InputText_Disabled: #{$ColorSet_ThemeColor_Text_0};
	--ColorSet_Color_ObjectBG: #{$ColorSet_Color_PageBG};
	--ColorSet_Color_ObjectBorder: #{$ColorSet_ThemeColor_Border_60};
	--ColorSet_Color_TableLabelText: #{$ColorSet_ThemeColor_Text_40};
	--ColorSet_Color_TableLabelText_Disabled: #{$ColorSet_ThemeColor_Text_10};
	--ColorSet_Color_TRBorder: #{$ColorSet_ThemeColor_Border_50};
	--ColorSet_Color_SelectDropdownBG: #{$ColorSet_ThemeColor_Background_50};
	--ColorSet_Color_SelectDropdownBorder: #{$ColorSet_ThemeColor_AccentBorder_30};
	--ColorSet_Color_SelectInputBG: #{$ColorSet_Color_InputBG};
	--ColorSet_Color_SelectInputBG_Hover: #{$ColorSet_Color_InputBG_Hover};
	--ColorSet_Color_SelectInputBorder: #{$ColorSet_Color_InputBorder};
	--ColorSet_Color_SelectInputBorder_Hover: #{$ColorSet_Color_InputBorder_Hover};
	--ColorSet_Color_SelectMultiInputBG: #{$ColorSet_ThemeColor_Background_50};
	--ColorSet_Color_SelectMultiInputBG_Hover: #{$ColorSet_ThemeColor_Background_50_Hover};
	--ColorSet_Color_SelectMultiInputBorder: #{$ColorSet_ThemeColor_Border_50};
	--ColorSet_Color_SelectMultiInputBorder_Hover: #{$ColorSet_ThemeColor_Border_50_Hover};
	--ColorSet_Color_SelectMultiChoiceBG: #{$ColorSet_ThemeColor_Background_70};
	--ColorSet_Color_SelectMultiChoiceBG_Hover: #{$ColorSet_ThemeColor_Background_70_Hover};
	--ColorSet_Color_SelectMultiChoiceBorder: #{$ColorSet_ThemeColor_Border_70};
	--ColorSet_Color_SelectMultiChoiceBorder_Hover: #{$ColorSet_ThemeColor_Border_70_Hover};
	--ColorSet_Color_SelectMultiChoiceBorder_Hover_Highlight: #{$ColorSet_ThemeColor_Accent_40};
	--ColorSet_Color_SelectMultiChoiceShadow: #{$ColorSet_ThemeColor_ElementShadow};
	--ColorSet_Color_SelectOptionBG_Hover: #{$ColorSet_ThemeColor_Background_60};
	--ColorSet_Color_SelectOptionBG_Selected: #{$ColorSet_ThemeColor_Accent_40};
	--ColorSet_Color_SelectOptionBG_Selected_Hover: #{$ColorSet_ThemeColor_Accent_30};
	--ColorSet_Color_SelectOptionBG_Selected_Text: #{$ColorSet_ThemeColor_AccentText};
	--ColorSet_Color_ChoiceRemoveButtonBG: #{$ColorSet_ThemeColor_Border_130};
	--ColorSet_Color_ChoiceRemoveButtonBG_Hover: #{$ColorSet_ThemeColor_Accent_40};
	--ColorSet_Color_SelectSearchInputBG: #{$ColorSet_Color_InputBG};
	--ColorSet_Color_FlatpickrBG: #{$ColorSet_Color_InputBG};
	--ColorSet_Color_FlatpickrBorder: #{$ColorSet_ThemeColor_Border_70};
	--ColorSet_Color_FlatpickrDayBG: #{$ColorSet_ThemeColor_Background_70};
	--ColorSet_Color_FlatpickrDayBG_Hover: #{$ColorSet_ThemeColor_Background_70_Hover};
	--ColorSet_Color_FlatpickrDayBG_Selected: #{$ColorSet_ThemeColor_Accent_40};
	--ColorSet_Color_FlatpickrDayBG_Selected_Hover: #{$ColorSet_ThemeColor_Accent_50};
	--ColorSet_Color_FlatpickrDayBG_Selected_Text: #{$ColorSet_ThemeColor_AccentText};
	--ColorSet_Color_FlatpickrDayBorder: #{$ColorSet_ThemeColor_Border_70};
	--ColorSet_Color_FlatpickrDayBorder_Hover: #{$ColorSet_ThemeColor_Border_70_Hover};
	--ColorSet_Color_FlatpickrDayBorder_Selected: #{$ColorSet_ThemeColor_Border_90};
	--ColorSet_Color_FlatpickrDayBorder_Selected_Hover: #{$ColorSet_ThemeColor_Border_90_Hover};
	--ColorSet_Color_FlatpickrDayText: #{$ColorSet_ThemeColor_Text_50};
	--ColorSet_Color_FlatpickrDisDayBG: #{$ColorSet_ThemeColor_Background_50};
	--ColorSet_Color_FlatpickrDisDayBG_Hover: #{$ColorSet_ThemeColor_Background_50_Hover};
	--ColorSet_Color_FlatpickrDisDayText: #{$ColorSet_ThemeColor_Text_20};
	--ColorSet_Color_FlatpickrInputBG: #{$ColorSet_Color_InputBG};
	--ColorSet_Color_FlatpickrInputBG_Hover: #{$ColorSet_Color_InputBG_Hover};
	--ColorSet_Color_FlatpickrInputBorder_Active_Highlight: #{$ColorSet_Color_InputBorder_Active_Highlight};
	--ColorSet_Color_FlatpickrInputText: #{$ColorSet_Color_InputText};
	--ColorSet_Color_FlatpickrMonthArrows: #{$ColorSet_ThemeColor_Accent_60};
	--ColorSet_Color_FlatpickrMonthArrows_Hover: #{$ColorSet_ThemeColor_Accent_70};
	--ColorSet_Color_FlatpickrMonthYearTime: #{$ColorSet_ThemeColor_Text_40};
	--ColorSet_Color_FlatpickrWeekday: #{$ColorSet_ThemeColor_Text_40};
	--ColorSet_Color_DatatablesInputBG: #{$ColorSet_Color_InputBG};
	--ColorSet_Color_DatatablesInputBG_Active: #{$ColorSet_Color_InputBG_Active};
	--ColorSet_Color_DatatablesInputBG_Hover: #{$ColorSet_Color_InputBG_Hover};
	--ColorSet_Color_DatatablesInputBorder: #{$ColorSet_Color_InputBorder};
	--ColorSet_Color_DatatablesInputBorder_Active: #{$ColorSet_Color_InputBorder_Active};
	--ColorSet_Color_DatatablesInputBorder_Active_Highlight: #{$ColorSet_Color_InputBorder_Active_Highlight};
	--ColorSet_Color_DatatablesInputBorder_Hover: #{$ColorSet_Color_InputBorder_Hover};
	--ColorSet_Color_DatatablesInputText: #{$ColorSet_Color_InputText};
	--ColorSet_Color_DatatablesPaginateBG: #{$ColorSet_Color_InputBG};
	--ColorSet_Color_DatatablesPaginateBG_Current: #{$ColorSet_ThemeColor_Accent_40};
	--ColorSet_Color_DatatablesPaginateBG_Current_Active: #{$ColorSet_ThemeColor_Accent_20};
	--ColorSet_Color_DatatablesPaginateBG_Current_Hover: #{$ColorSet_ThemeColor_Accent_30};
	--ColorSet_Color_DatatablesPaginateBG_Current_Text: #{$ColorSet_ThemeColor_AccentText};
	--ColorSet_Color_DatatablesPaginateBG_Active: #{$ColorSet_Color_InputBG_Active};
	--ColorSet_Color_DatatablesPaginateBG_Disabled: #{$ColorSet_Color_InputBG_Disabled};
	--ColorSet_Color_DatatablesPaginateBG_Hover: #{$ColorSet_Color_InputBG_Hover};
	--ColorSet_Color_DatatablesPaginateBorder: #{$ColorSet_Color_InputBorder};
	--ColorSet_Color_DatatablesPaginateBorder_Disabled: #{$ColorSet_Color_InputBorder_Disabled};
	--ColorSet_Color_DatatablesPaginateText: #{$ColorSet_Color_InputText};
	--ColorSet_Color_DatatablesPaginateText_Disabled: #{$ColorSet_Color_InputText_Disabled};
	--ColorSet_Value_PercentFlareTablesIconInvert: #{100%};
	--ColorSet_Color_DatatablesSortIconBG_Hover: #{$ColorSet_ThemeColor_Background_90};
	--ColorSet_Color_DatatablesHeaderBG: #{$ColorSet_ThemeColor_Background_90};
	--ColorSet_Color_DatatablesSubheaderBG: #{$ColorSet_ThemeColor_Background_50};
}
