$ColorSet_ThemeColor_Accent_0: #310d80;
$ColorSet_ThemeColor_Accent_0_Hover: #320d82;
$ColorSet_ThemeColor_Accent_0_Focus: #330d85;
$ColorSet_ThemeColor_Accent_10: #4112a6;
$ColorSet_ThemeColor_Accent_10_Hover: #4212a8;
$ColorSet_ThemeColor_Accent_10_Focus: #4313ab;
$ColorSet_ThemeColor_Accent_20: #5019c6;
$ColorSet_ThemeColor_Accent_20_Hover: #5119c9;
$ColorSet_ThemeColor_Accent_20_Focus: #5219cb;
$ColorSet_ThemeColor_Accent_30: #5d21de;
$ColorSet_ThemeColor_Accent_30_Hover: #5e22e0;
$ColorSet_ThemeColor_Accent_30_Focus: #5f22e3;
$ColorSet_ThemeColor_Accent_40: #6a2eec;
$ColorSet_ThemeColor_Accent_40_Hover: #6b2eef;
$ColorSet_ThemeColor_Accent_40_Focus: #6d2ff2;
$ColorSet_ThemeColor_Accent_50: #7b42f5;
$ColorSet_ThemeColor_Accent_50_Hover: #7c43f8;
$ColorSet_ThemeColor_Accent_50_Focus: #7d44fa;
$ColorSet_ThemeColor_Accent_60: #9262fa;
$ColorSet_ThemeColor_Accent_60_Hover: #9363fd;
$ColorSet_ThemeColor_Accent_60_Focus: #9564ff;
$ColorSet_ThemeColor_Accent_70: #b08dfd;
$ColorSet_ThemeColor_Accent_70_Hover: #b28eff;
$ColorSet_ThemeColor_Accent_70_Focus: #b48fff;
$ColorSet_ThemeColor_Accent_80: #d3bfff;
$ColorSet_ThemeColor_Accent_80_Hover: #d6c1ff;
$ColorSet_ThemeColor_Accent_80_Focus: #d8c3ff;
$ColorSet_ThemeColor_AccentBorder_0: #360e8c;
$ColorSet_ThemeColor_AccentBorder_0_Hover: #3b0f99;
$ColorSet_ThemeColor_AccentBorder_0_Focus: #3e10a1;
$ColorSet_ThemeColor_AccentBorder_10: #4413af;
$ColorSet_ThemeColor_AccentBorder_10_Hover: #4915bb;
$ColorSet_ThemeColor_AccentBorder_10_Focus: #4c15c3;
$ColorSet_ThemeColor_AccentBorder_20: #5219cc;
$ColorSet_ThemeColor_AccentBorder_20_Hover: #571bd8;
$ColorSet_ThemeColor_AccentBorder_20_Focus: #5a1ce0;
$ColorSet_ThemeColor_AccentBorder_30: #5e22e1;
$ColorSet_ThemeColor_AccentBorder_30_Hover: #6424ee;
$ColorSet_ThemeColor_AccentBorder_30_Focus: #6725f5;
$ColorSet_ThemeColor_AccentBorder_40: #6b2eee;
$ColorSet_ThemeColor_AccentBorder_40_Hover: #7131fb;
$ColorSet_ThemeColor_AccentBorder_40_Focus: #7432ff;
$ColorSet_ThemeColor_AccentBorder_50: #7b42f6;
$ColorSet_ThemeColor_AccentBorder_50_Hover: #8246ff;
$ColorSet_ThemeColor_AccentBorder_50_Focus: #8648ff;
$ColorSet_ThemeColor_AccentBorder_60: #9262fb;
$ColorSet_ThemeColor_AccentBorder_60_Hover: #9a67ff;
$ColorSet_ThemeColor_AccentBorder_60_Focus: #9e6aff;
$ColorSet_ThemeColor_AccentBorder_70: #b08dfd;
$ColorSet_ThemeColor_AccentBorder_70_Hover: #b994ff;
$ColorSet_ThemeColor_AccentBorder_70_Focus: #bf98ff;
$ColorSet_ThemeColor_AccentBorder_80: #d3bfff;
$ColorSet_ThemeColor_AccentBorder_80_Hover: #dec9ff;
$ColorSet_ThemeColor_AccentBorder_80_Focus: #e4cfff;
$ColorSet_ThemeColor_Background_0: #000000;
$ColorSet_ThemeColor_Background_0_Hover: #050505;
$ColorSet_ThemeColor_Background_0_Focus: #080808;
$ColorSet_ThemeColor_Background_10: #050505;
$ColorSet_ThemeColor_Background_10_Hover: #0a090a;
$ColorSet_ThemeColor_Background_10_Focus: #0c0c0c;
$ColorSet_ThemeColor_Background_20: #090909;
$ColorSet_ThemeColor_Background_20_Hover: #0e0d0f;
$ColorSet_ThemeColor_Background_20_Focus: #101011;
$ColorSet_ThemeColor_Background_30: #0d0d0e;
$ColorSet_ThemeColor_Background_30_Hover: #121113;
$ColorSet_ThemeColor_Background_30_Focus: #141416;
$ColorSet_ThemeColor_Background_40: #111113;
$ColorSet_ThemeColor_Background_40_Hover: #161518;
$ColorSet_ThemeColor_Background_40_Focus: #18171b;
$ColorSet_ThemeColor_Background_50: #151418;
$ColorSet_ThemeColor_Background_50_Hover: #1a191d;
$ColorSet_ThemeColor_Background_50_Focus: #1c1b1f;
$ColorSet_ThemeColor_Background_60: #19181c;
$ColorSet_ThemeColor_Background_60_Hover: #1e1c21;
$ColorSet_ThemeColor_Background_60_Focus: #201e24;
$ColorSet_ThemeColor_Background_70: #1d1c21;
$ColorSet_ThemeColor_Background_70_Hover: #222026;
$ColorSet_ThemeColor_Background_70_Focus: #242229;
$ColorSet_ThemeColor_Background_80: #211f26;
$ColorSet_ThemeColor_Background_80_Hover: #26242b;
$ColorSet_ThemeColor_Background_80_Focus: #28262d;
$ColorSet_ThemeColor_Background_90: #25232a;
$ColorSet_ThemeColor_Background_90_Hover: #2a2730;
$ColorSet_ThemeColor_Background_90_Focus: #2c2932;
$ColorSet_ThemeColor_Background_100: #29272f;
$ColorSet_ThemeColor_Background_100_Hover: #2e2b34;
$ColorSet_ThemeColor_Background_100_Focus: #302d37;
$ColorSet_ThemeColor_Background_110: #2d2a34;
$ColorSet_ThemeColor_Background_110_Hover: #322e39;
$ColorSet_ThemeColor_Background_110_Focus: #34303c;
$ColorSet_ThemeColor_Background_120: #312e39;
$ColorSet_ThemeColor_Background_120_Hover: #36323e;
$ColorSet_ThemeColor_Background_120_Focus: #383440;
$ColorSet_ThemeColor_Background_130: #35313d;
$ColorSet_ThemeColor_Background_130_Hover: #3a3642;
$ColorSet_ThemeColor_Background_130_Focus: #3c3845;
$ColorSet_ThemeColor_Background_140: #393542;
$ColorSet_ThemeColor_Background_140_Hover: #3e3947;
$ColorSet_ThemeColor_Background_140_Focus: #403b4a;
$ColorSet_ThemeColor_Background_150: #3d3947;
$ColorSet_ThemeColor_Background_150_Hover: #423d4c;
$ColorSet_ThemeColor_Background_150_Focus: #443f4e;
$ColorSet_ThemeColor_Background_160: #413d4b;
$ColorSet_ThemeColor_Background_160_Hover: #464151;
$ColorSet_ThemeColor_Background_160_Focus: #484353;
$ColorSet_ThemeColor_Background_170: #454050;
$ColorSet_ThemeColor_Background_170_Hover: #4a4455;
$ColorSet_ThemeColor_Background_170_Focus: #4c4658;
$ColorSet_ThemeColor_Background_180: #494455;
$ColorSet_ThemeColor_Background_180_Hover: #4e485a;
$ColorSet_ThemeColor_Background_180_Focus: #504a5d;
$ColorSet_ThemeColor_Background_190: #4d485a;
$ColorSet_ThemeColor_Background_190_Hover: #524c5f;
$ColorSet_ThemeColor_Background_190_Focus: #544e61;
$ColorSet_ThemeColor_Background_200: #514b5e;
$ColorSet_ThemeColor_Background_200_Hover: #565063;
$ColorSet_ThemeColor_Background_200_Focus: #585266;
$ColorSet_ThemeColor_BackgroundInverse_0: #ffffff;
$ColorSet_ThemeColor_BackgroundInverse_0_Hover: #ffffff;
$ColorSet_ThemeColor_BackgroundInverse_0_Focus: #ffffff;
$ColorSet_ThemeColor_BackgroundInverse_10: #f8fcff;
$ColorSet_ThemeColor_BackgroundInverse_10_Hover: #fdffff;
$ColorSet_ThemeColor_BackgroundInverse_10_Focus: #ffffff;
$ColorSet_ThemeColor_BackgroundInverse_20: #f3f9ff;
$ColorSet_ThemeColor_BackgroundInverse_20_Hover: #f8feff;
$ColorSet_ThemeColor_BackgroundInverse_20_Focus: #faffff;
$ColorSet_ThemeColor_BackgroundInverse_30: #eff7fe;
$ColorSet_ThemeColor_BackgroundInverse_30_Hover: #f3fbff;
$ColorSet_ThemeColor_BackgroundInverse_30_Focus: #f6feff;
$ColorSet_ThemeColor_BackgroundInverse_40: #ebf4fe;
$ColorSet_ThemeColor_BackgroundInverse_40_Hover: #f0f9ff;
$ColorSet_ThemeColor_BackgroundInverse_40_Focus: #f2fcff;
$ColorSet_ThemeColor_BackgroundInverse_50: #e8f3fd;
$ColorSet_ThemeColor_BackgroundInverse_50_Hover: #edf7ff;
$ColorSet_ThemeColor_BackgroundInverse_50_Focus: #effaff;
$ColorSet_ThemeColor_BackgroundInverse_60: #e5f1fc;
$ColorSet_ThemeColor_BackgroundInverse_60_Hover: #eaf6ff;
$ColorSet_ThemeColor_BackgroundInverse_60_Focus: #ecf8ff;
$ColorSet_ThemeColor_BackgroundInverse_70: #e3effb;
$ColorSet_ThemeColor_BackgroundInverse_70_Hover: #e7f4ff;
$ColorSet_ThemeColor_BackgroundInverse_70_Focus: #e9f6ff;
$ColorSet_ThemeColor_BackgroundInverse_80: #e0edfa;
$ColorSet_ThemeColor_BackgroundInverse_80_Hover: #e5f2ff;
$ColorSet_ThemeColor_BackgroundInverse_80_Focus: #e7f4ff;
$ColorSet_ThemeColor_BackgroundInverse_90: #ddebf8;
$ColorSet_ThemeColor_BackgroundInverse_90_Hover: #e2effd;
$ColorSet_ThemeColor_BackgroundInverse_90_Focus: #e4f2ff;
$ColorSet_ThemeColor_BackgroundInverse_100: #dbe8f5;
$ColorSet_ThemeColor_BackgroundInverse_100_Hover: #dfedfb;
$ColorSet_ThemeColor_BackgroundInverse_100_Focus: #e1effd;
$ColorSet_ThemeColor_BackgroundInverse_110: #d7e5f3;
$ColorSet_ThemeColor_BackgroundInverse_110_Hover: #dceaf8;
$ColorSet_ThemeColor_BackgroundInverse_110_Focus: #deecfa;
$ColorSet_ThemeColor_BackgroundInverse_120: #d4e2ef;
$ColorSet_ThemeColor_BackgroundInverse_120_Hover: #d8e6f4;
$ColorSet_ThemeColor_BackgroundInverse_120_Focus: #dbe9f7;
$ColorSet_ThemeColor_BackgroundInverse_130: #d0deeb;
$ColorSet_ThemeColor_BackgroundInverse_130_Hover: #d4e2f0;
$ColorSet_ThemeColor_BackgroundInverse_130_Focus: #d7e5f3;
$ColorSet_ThemeColor_BackgroundInverse_140: #cbd9e6;
$ColorSet_ThemeColor_BackgroundInverse_140_Hover: #d0deeb;
$ColorSet_ThemeColor_BackgroundInverse_140_Focus: #d2e0ee;
$ColorSet_ThemeColor_BackgroundInverse_150: #c6d3e0;
$ColorSet_ThemeColor_BackgroundInverse_150_Hover: #cad8e6;
$ColorSet_ThemeColor_BackgroundInverse_150_Focus: #cddae8;
$ColorSet_ThemeColor_BackgroundInverse_160: #bfccd9;
$ColorSet_ThemeColor_BackgroundInverse_160_Hover: #c4d1de;
$ColorSet_ThemeColor_BackgroundInverse_160_Focus: #c6d4e1;
$ColorSet_ThemeColor_BackgroundInverse_170: #b8c5d1;
$ColorSet_ThemeColor_BackgroundInverse_170_Hover: #bdc9d6;
$ColorSet_ThemeColor_BackgroundInverse_170_Focus: #bfccd9;
$ColorSet_ThemeColor_BackgroundInverse_180: #b0bcc8;
$ColorSet_ThemeColor_BackgroundInverse_180_Hover: #b4c0cd;
$ColorSet_ThemeColor_BackgroundInverse_180_Focus: #b6c3cf;
$ColorSet_ThemeColor_BackgroundInverse_190: #a7b2bd;
$ColorSet_ThemeColor_BackgroundInverse_190_Hover: #abb7c2;
$ColorSet_ThemeColor_BackgroundInverse_190_Focus: #adb9c5;
$ColorSet_ThemeColor_BackgroundInverse_200: #9da8b3;
$ColorSet_ThemeColor_BackgroundInverse_200_Hover: #a2adb8;
$ColorSet_ThemeColor_BackgroundInverse_200_Focus: #a4afba;
$ColorSet_ThemeColor_Border_0: #1a1a1a;
$ColorSet_ThemeColor_Border_0_Hover: #262626;
$ColorSet_ThemeColor_Border_0_Focus: #2e2e2e;
$ColorSet_ThemeColor_Border_10: #1d1d1e;
$ColorSet_ThemeColor_Border_10_Hover: #2a292b;
$ColorSet_ThemeColor_Border_10_Focus: #313033;
$ColorSet_ThemeColor_Border_20: #212023;
$ColorSet_ThemeColor_Border_20_Hover: #2d2c30;
$ColorSet_ThemeColor_Border_20_Focus: #343337;
$ColorSet_ThemeColor_Border_30: #252428;
$ColorSet_ThemeColor_Border_30_Hover: #312f34;
$ColorSet_ThemeColor_Border_30_Focus: #38363c;
$ColorSet_ThemeColor_Border_40: #29272c;
$ColorSet_ThemeColor_Border_40_Hover: #343239;
$ColorSet_ThemeColor_Border_40_Focus: #3b3941;
$ColorSet_ThemeColor_Border_50: #2c2a31;
$ColorSet_ThemeColor_Border_50_Hover: #38353e;
$ColorSet_ThemeColor_Border_50_Focus: #3f3c45;
$ColorSet_ThemeColor_Border_60: #302e36;
$ColorSet_ThemeColor_Border_60_Hover: #3c3843;
$ColorSet_ThemeColor_Border_60_Focus: #423f4a;
$ColorSet_ThemeColor_Border_70: #34313b;
$ColorSet_ThemeColor_Border_70_Hover: #3f3c47;
$ColorSet_ThemeColor_Border_70_Focus: #46424f;
$ColorSet_ThemeColor_Border_80: #38343f;
$ColorSet_ThemeColor_Border_80_Hover: #433f4c;
$ColorSet_ThemeColor_Border_80_Focus: #4a4554;
$ColorSet_ThemeColor_Border_90: #3c3844;
$ColorSet_ThemeColor_Border_90_Hover: #474251;
$ColorSet_ThemeColor_Border_90_Focus: #4e4958;
$ColorSet_ThemeColor_Border_100: #403b49;
$ColorSet_ThemeColor_Border_100_Hover: #4b4655;
$ColorSet_ThemeColor_Border_100_Focus: #514c5d;
$ColorSet_ThemeColor_Border_110: #433f4d;
$ColorSet_ThemeColor_Border_110_Hover: #4f495a;
$ColorSet_ThemeColor_Border_110_Focus: #554f62;
$ColorSet_ThemeColor_Border_120: #474252;
$ColorSet_ThemeColor_Border_120_Hover: #534d5f;
$ColorSet_ThemeColor_Border_120_Focus: #595367;
$ColorSet_ThemeColor_Border_130: #4b4657;
$ColorSet_ThemeColor_Border_130_Hover: #565064;
$ColorSet_ThemeColor_Border_130_Focus: #5d566b;
$ColorSet_ThemeColor_Border_140: #4f4a5c;
$ColorSet_ThemeColor_Border_140_Hover: #5a5468;
$ColorSet_ThemeColor_Border_140_Focus: #615a70;
$ColorSet_ThemeColor_Border_150: #534d60;
$ColorSet_ThemeColor_Border_150_Hover: #5e586d;
$ColorSet_ThemeColor_Border_150_Focus: #655e75;
$ColorSet_ThemeColor_Border_160: #575165;
$ColorSet_ThemeColor_Border_160_Hover: #625b72;
$ColorSet_ThemeColor_Border_160_Focus: #696179;
$ColorSet_ThemeColor_Border_170: #5b556a;
$ColorSet_ThemeColor_Border_170_Hover: #665f76;
$ColorSet_ThemeColor_Border_170_Focus: #6d657e;
$ColorSet_ThemeColor_Border_180: #5f586e;
$ColorSet_ThemeColor_Border_180_Hover: #6a637b;
$ColorSet_ThemeColor_Border_180_Focus: #716983;
$ColorSet_ThemeColor_Border_190: #635c73;
$ColorSet_ThemeColor_Border_190_Hover: #6e6680;
$ColorSet_ThemeColor_Border_190_Focus: #756c88;
$ColorSet_ThemeColor_Border_200: #676078;
$ColorSet_ThemeColor_Border_200_Hover: #726a85;
$ColorSet_ThemeColor_Border_200_Focus: #79708c;
$ColorSet_ThemeColor_Text_0: #504c59;
$ColorSet_ThemeColor_Text_10: #7d778b;
$ColorSet_ThemeColor_Text_20: #a49cb5;
$ColorSet_ThemeColor_Text_30: #c1b9d4;
$ColorSet_ThemeColor_Text_40: #d5cde7;
$ColorSet_ThemeColor_Text_50: #e3ddf2;
$ColorSet_ThemeColor_Text_60: #eeeaf9;
$ColorSet_ThemeColor_Text_70: #f7f5fc;
$ColorSet_ThemeColor_Text_80: #ffffff;
$ColorSet_ThemeColor_TR_0: #0b0a0d;
$ColorSet_ThemeColor_TR_10: #111014;
$ColorSet_ThemeColor_TR_20: #151318;
$ColorSet_ThemeColor_TR_30: #16141a;
$ColorSet_ThemeColor_TR_Green_0: #001a00;
$ColorSet_ThemeColor_TR_Green_10: #002000;
$ColorSet_ThemeColor_TR_Green_20: #002500;
$ColorSet_ThemeColor_TR_Green_30: #002600;
$ColorSet_ThemeColor_TR_Red_0: #210000;
$ColorSet_ThemeColor_TR_Red_10: #280000;
$ColorSet_ThemeColor_TR_Red_20: #2c0000;
$ColorSet_ThemeColor_TR_Red_30: #2e0000;
