:root {
  --ColorSet_ThemeColor_Accent_0: #800d4a;
  --ColorSet_ThemeColor_Accent_0_Hover: #820d4b;
  --ColorSet_ThemeColor_Accent_0_Focus: #850d4d;
  --ColorSet_ThemeColor_Accent_10: #a61261;
  --ColorSet_ThemeColor_Accent_10_Hover: #a81262;
  --ColorSet_ThemeColor_Accent_10_Focus: #ab1364;
  --ColorSet_ThemeColor_Accent_20: #c61975;
  --ColorSet_ThemeColor_Accent_20_Hover: #c91977;
  --ColorSet_ThemeColor_Accent_20_Focus: #cb1978;
  --ColorSet_ThemeColor_Accent_30: #de2186;
  --ColorSet_ThemeColor_Accent_30_Hover: #e02287;
  --ColorSet_ThemeColor_Accent_30_Focus: #e32289;
  --ColorSet_ThemeColor_Accent_40: #ec2e94;
  --ColorSet_ThemeColor_Accent_40_Hover: #ef2e95;
  --ColorSet_ThemeColor_Accent_40_Focus: #f22f97;
  --ColorSet_ThemeColor_Accent_50: #f542a2;
  --ColorSet_ThemeColor_Accent_50_Hover: #f843a3;
  --ColorSet_ThemeColor_Accent_50_Focus: #fa44a5;
  --ColorSet_ThemeColor_Accent_60: #fa62b3;
  --ColorSet_ThemeColor_Accent_60_Hover: #fd63b5;
  --ColorSet_ThemeColor_Accent_60_Focus: #ff64b7;
  --ColorSet_ThemeColor_Accent_70: #fd8dc9;
  --ColorSet_ThemeColor_Accent_70_Hover: #ff8ecb;
  --ColorSet_ThemeColor_Accent_70_Focus: #ff8fcd;
  --ColorSet_ThemeColor_Accent_80: #ffbfe1;
  --ColorSet_ThemeColor_Accent_80_Hover: #ffc1e4;
  --ColorSet_ThemeColor_Accent_80_Focus: #ffc3e6;
  --ColorSet_ThemeColor_AccentBorder_0: #8c0e51;
  --ColorSet_ThemeColor_AccentBorder_0_Hover: #990f59;
  --ColorSet_ThemeColor_AccentBorder_0_Focus: #a1105d;
  --ColorSet_ThemeColor_AccentBorder_10: #af1366;
  --ColorSet_ThemeColor_AccentBorder_10_Hover: #bb156d;
  --ColorSet_ThemeColor_AccentBorder_10_Focus: #c31572;
  --ColorSet_ThemeColor_AccentBorder_20: #cc1979;
  --ColorSet_ThemeColor_AccentBorder_20_Hover: #d81b80;
  --ColorSet_ThemeColor_AccentBorder_20_Focus: #e01c85;
  --ColorSet_ThemeColor_AccentBorder_30: #e12288;
  --ColorSet_ThemeColor_AccentBorder_30_Hover: #ee2490;
  --ColorSet_ThemeColor_AccentBorder_30_Focus: #f52594;
  --ColorSet_ThemeColor_AccentBorder_40: #ee2e95;
  --ColorSet_ThemeColor_AccentBorder_40_Hover: #fb319d;
  --ColorSet_ThemeColor_AccentBorder_40_Focus: #ff32a1;
  --ColorSet_ThemeColor_AccentBorder_50: #f642a2;
  --ColorSet_ThemeColor_AccentBorder_50_Hover: #ff46ab;
  --ColorSet_ThemeColor_AccentBorder_50_Focus: #ff48b0;
  --ColorSet_ThemeColor_AccentBorder_60: #fb62b3;
  --ColorSet_ThemeColor_AccentBorder_60_Hover: #ff67bc;
  --ColorSet_ThemeColor_AccentBorder_60_Focus: #ff6ac2;
  --ColorSet_ThemeColor_AccentBorder_70: #fd8dc9;
  --ColorSet_ThemeColor_AccentBorder_70_Hover: #ff94d3;
  --ColorSet_ThemeColor_AccentBorder_70_Focus: #ff98d9;
  --ColorSet_ThemeColor_AccentBorder_80: #ffbfe1;
  --ColorSet_ThemeColor_AccentBorder_80_Hover: #ffc9ed;
  --ColorSet_ThemeColor_AccentBorder_80_Focus: #ffcff3;
  --ColorSet_ThemeColor_Background_0: #ffffff;
  --ColorSet_ThemeColor_Background_0_Hover: #ffffff;
  --ColorSet_ThemeColor_Background_0_Focus: #ffffff;
  --ColorSet_ThemeColor_Background_10: #fff8fc;
  --ColorSet_ThemeColor_Background_10_Hover: #fffdff;
  --ColorSet_ThemeColor_Background_10_Focus: #ffffff;
  --ColorSet_ThemeColor_Background_20: #fff3f9;
  --ColorSet_ThemeColor_Background_20_Hover: #fff8fe;
  --ColorSet_ThemeColor_Background_20_Focus: #fffaff;
  --ColorSet_ThemeColor_Background_30: #feeff7;
  --ColorSet_ThemeColor_Background_30_Hover: #fff3fc;
  --ColorSet_ThemeColor_Background_30_Focus: #fff6fe;
  --ColorSet_ThemeColor_Background_40: #feebf5;
  --ColorSet_ThemeColor_Background_40_Hover: #fff0fa;
  --ColorSet_ThemeColor_Background_40_Focus: #fff2fc;
  --ColorSet_ThemeColor_Background_50: #fde8f3;
  --ColorSet_ThemeColor_Background_50_Hover: #ffedf8;
  --ColorSet_ThemeColor_Background_50_Focus: #ffeffb;
  --ColorSet_ThemeColor_Background_60: #fce5f1;
  --ColorSet_ThemeColor_Background_60_Hover: #ffeaf6;
  --ColorSet_ThemeColor_Background_60_Focus: #ffecf9;
  --ColorSet_ThemeColor_Background_70: #fbe3f0;
  --ColorSet_ThemeColor_Background_70_Hover: #ffe7f4;
  --ColorSet_ThemeColor_Background_70_Focus: #ffe9f7;
  --ColorSet_ThemeColor_Background_80: #fae0ee;
  --ColorSet_ThemeColor_Background_80_Hover: #ffe5f2;
  --ColorSet_ThemeColor_Background_80_Focus: #ffe7f5;
  --ColorSet_ThemeColor_Background_90: #f8ddeb;
  --ColorSet_ThemeColor_Background_90_Hover: #fde2f0;
  --ColorSet_ThemeColor_Background_90_Focus: #ffe4f3;
  --ColorSet_ThemeColor_Background_100: #f5dbe9;
  --ColorSet_ThemeColor_Background_100_Hover: #fbdfee;
  --ColorSet_ThemeColor_Background_100_Focus: #fde1f0;
  --ColorSet_ThemeColor_Background_110: #f3d7e6;
  --ColorSet_ThemeColor_Background_110_Hover: #f8dceb;
  --ColorSet_ThemeColor_Background_110_Focus: #fadeed;
  --ColorSet_ThemeColor_Background_120: #efd4e3;
  --ColorSet_ThemeColor_Background_120_Hover: #f4d8e7;
  --ColorSet_ThemeColor_Background_120_Focus: #f7dbea;
  --ColorSet_ThemeColor_Background_130: #ebd0df;
  --ColorSet_ThemeColor_Background_130_Hover: #f0d4e3;
  --ColorSet_ThemeColor_Background_130_Focus: #f3d7e6;
  --ColorSet_ThemeColor_Background_140: #e6cbda;
  --ColorSet_ThemeColor_Background_140_Hover: #ebd0df;
  --ColorSet_ThemeColor_Background_140_Focus: #eed2e1;
  --ColorSet_ThemeColor_Background_150: #e0c6d4;
  --ColorSet_ThemeColor_Background_150_Hover: #e6cad9;
  --ColorSet_ThemeColor_Background_150_Focus: #e8cddb;
  --ColorSet_ThemeColor_Background_160: #d9bfcd;
  --ColorSet_ThemeColor_Background_160_Hover: #dec4d2;
  --ColorSet_ThemeColor_Background_160_Focus: #e1c6d5;
  --ColorSet_ThemeColor_Background_170: #d1b8c5;
  --ColorSet_ThemeColor_Background_170_Hover: #d6bdca;
  --ColorSet_ThemeColor_Background_170_Focus: #d9bfcd;
  --ColorSet_ThemeColor_Background_180: #c8b0bc;
  --ColorSet_ThemeColor_Background_180_Hover: #cdb4c1;
  --ColorSet_ThemeColor_Background_180_Focus: #cfb6c4;
  --ColorSet_ThemeColor_Background_190: #bda7b3;
  --ColorSet_ThemeColor_Background_190_Hover: #c2abb7;
  --ColorSet_ThemeColor_Background_190_Focus: #c5adba;
  --ColorSet_ThemeColor_Background_200: #b39da9;
  --ColorSet_ThemeColor_Background_200_Hover: #b8a2ad;
  --ColorSet_ThemeColor_Background_200_Focus: #baa4b0;
  --ColorSet_ThemeColor_Border_0: #e6e6e6;
  --ColorSet_ThemeColor_Border_0_Hover: #d9d9d9;
  --ColorSet_ThemeColor_Border_0_Focus: #cccccc;
  --ColorSet_ThemeColor_Border_10: #e5dfe3;
  --ColorSet_ThemeColor_Border_10_Hover: #d9d3d6;
  --ColorSet_ThemeColor_Border_10_Focus: #ccc7c9;
  --ColorSet_ThemeColor_Border_20: #e5dbe0;
  --ColorSet_ThemeColor_Border_20_Hover: #d8ced4;
  --ColorSet_ThemeColor_Border_20_Focus: #ccc2c7;
  --ColorSet_ThemeColor_Border_30: #e5d7de;
  --ColorSet_ThemeColor_Border_30_Hover: #d8cbd2;
  --ColorSet_ThemeColor_Border_30_Focus: #cbbfc6;
  --ColorSet_ThemeColor_Border_40: #e4d3dc;
  --ColorSet_ThemeColor_Border_40_Hover: #d8c8d0;
  --ColorSet_ThemeColor_Border_40_Focus: #cbbcc4;
  --ColorSet_ThemeColor_Border_50: #e4d1db;
  --ColorSet_ThemeColor_Border_50_Hover: #d7c5cf;
  --ColorSet_ThemeColor_Border_50_Focus: #cab9c2;
  --ColorSet_ThemeColor_Border_60: #e3ced9;
  --ColorSet_ThemeColor_Border_60_Hover: #d6c2cd;
  --ColorSet_ThemeColor_Border_60_Focus: #c9b7c1;
  --ColorSet_ThemeColor_Border_70: #e2ccd7;
  --ColorSet_ThemeColor_Border_70_Hover: #d5c0cb;
  --ColorSet_ThemeColor_Border_70_Focus: #c8b5bf;
  --ColorSet_ThemeColor_Border_80: #e0c9d5;
  --ColorSet_ThemeColor_Border_80_Hover: #d3bec9;
  --ColorSet_ThemeColor_Border_80_Focus: #c7b2bd;
  --ColorSet_ThemeColor_Border_90: #dec7d3;
  --ColorSet_ThemeColor_Border_90_Hover: #d1bbc7;
  --ColorSet_ThemeColor_Border_90_Focus: #c5b0bb;
  --ColorSet_ThemeColor_Border_100: #dcc4d1;
  --ColorSet_ThemeColor_Border_100_Hover: #cfb8c5;
  --ColorSet_ThemeColor_Border_100_Focus: #c2adb8;
  --ColorSet_ThemeColor_Border_110: #d9c1ce;
  --ColorSet_ThemeColor_Border_110_Hover: #ccb5c2;
  --ColorSet_ThemeColor_Border_110_Focus: #c0aab6;
  --ColorSet_ThemeColor_Border_120: #d6bdca;
  --ColorSet_ThemeColor_Border_120_Hover: #c9b2be;
  --ColorSet_ThemeColor_Border_120_Focus: #bca7b2;
  --ColorSet_ThemeColor_Border_130: #d2b9c6;
  --ColorSet_ThemeColor_Border_130_Hover: #c5aeba;
  --ColorSet_ThemeColor_Border_130_Focus: #b8a3ae;
  --ColorSet_ThemeColor_Border_140: #cdb5c2;
  --ColorSet_ThemeColor_Border_140_Hover: #c0aab6;
  --ColorSet_ThemeColor_Border_140_Focus: #b39eaa;
  --ColorSet_ThemeColor_Border_150: #c7afbc;
  --ColorSet_ThemeColor_Border_150_Hover: #baa4b0;
  --ColorSet_ThemeColor_Border_150_Focus: #ad99a4;
  --ColorSet_ThemeColor_Border_160: #c0a9b5;
  --ColorSet_ThemeColor_Border_160_Hover: #b39ea9;
  --ColorSet_ThemeColor_Border_160_Focus: #a6939d;
  --ColorSet_ThemeColor_Border_170: #b8a2ad;
  --ColorSet_ThemeColor_Border_170_Hover: #ab96a1;
  --ColorSet_ThemeColor_Border_170_Focus: #9e8b95;
  --ColorSet_ThemeColor_Border_180: #ae99a4;
  --ColorSet_ThemeColor_Border_180_Hover: #a18e98;
  --ColorSet_ThemeColor_Border_180_Focus: #95838c;
  --ColorSet_ThemeColor_Border_190: #a4909b;
  --ColorSet_ThemeColor_Border_190_Hover: #97858f;
  --ColorSet_ThemeColor_Border_190_Focus: #8a7a83;
  --ColorSet_ThemeColor_Border_200: #998790;
  --ColorSet_ThemeColor_Border_200_Hover: #8c7b84;
  --ColorSet_ThemeColor_Border_200_Focus: #807078;
  --ColorSet_ThemeColor_Text_0: #a68d9a;
  --ColorSet_ThemeColor_Text_10: #917c87;
  --ColorSet_ThemeColor_Text_20: #7c6b74;
  --ColorSet_ThemeColor_Text_30: #685a61;
  --ColorSet_ThemeColor_Text_40: #534a4f;
  --ColorSet_ThemeColor_Text_50: #3e393c;
  --ColorSet_ThemeColor_Text_60: #292728;
  --ColorSet_ThemeColor_Text_70: #151414;
  --ColorSet_ThemeColor_Text_80: #000000;
  --ColorSet_ThemeColor_TR_0: #fff7fb;
  --ColorSet_ThemeColor_TR_10: #faf2f6;
  --ColorSet_ThemeColor_TR_20: #f6eff3;
  --ColorSet_ThemeColor_TR_30: #f5edf1;
  --ColorSet_ThemeColor_TR_Green_0: #bfe0bf;
  --ColorSet_ThemeColor_TR_Green_10: #c8ebc8;
  --ColorSet_ThemeColor_TR_Green_20: #cef2ce;
  --ColorSet_ThemeColor_TR_Green_30: #d0f5d0;
  --ColorSet_ThemeColor_TR_Red_0: #e0bfbf;
  --ColorSet_ThemeColor_TR_Red_10: #ebc8c8;
  --ColorSet_ThemeColor_TR_Red_20: #f2cece;
  --ColorSet_ThemeColor_TR_Red_30: #f5d0d0; }
