$TransitionRestore: color linear 200ms, background-color linear 200ms, border linear 200ms, box-shadow linear 200ms;
$TransitionHover:   color linear 25ms, background-color linear 25ms, border linear 25ms, box-shadow linear 25ms;
$TransitionSnap:    color linear 0ms, background-color linear 0ms, border linear 0ms, box-shadow linear 0ms;
