// ^"(\d+)": "(.*)".*
// \$ColorSet_ThemeColor_ColorX_$1: $2;

// https://www.colorbox.io/#steps=15#hue_start=0#hue_end=0#hue_curve=linear#sat_start=100#sat_end=55#sat_curve=linear#sat_rate=100#lum_start=100#lum_end=60#lum_curve=linear#minor_steps_map=none
$ColorSet_ThemeColor_ColorRed_0:      #ff0000;
$ColorSet_ThemeColor_ColorRed_10:     #f80808;
$ColorSet_ThemeColor_ColorRed_20:     #f00f0f;
$ColorSet_ThemeColor_ColorRed_30:     #e91616;
$ColorSet_ThemeColor_ColorRed_40:     #e21d1d;
$ColorSet_ThemeColor_ColorRed_50:     #db2323;
$ColorSet_ThemeColor_ColorRed_60:     #d32929;
$ColorSet_ThemeColor_ColorRed_70:     #cc2e2e;
$ColorSet_ThemeColor_ColorRed_80:     #c53333;
$ColorSet_ThemeColor_ColorRed_90:     #bd3737;
$ColorSet_ThemeColor_ColorRed_100:    #b63b3b;
$ColorSet_ThemeColor_ColorRed_110:    #af3e3e;
$ColorSet_ThemeColor_ColorRed_120:    #a84141;
$ColorSet_ThemeColor_ColorRed_130:    #a04343;
$ColorSet_ThemeColor_ColorRed_140:    #994545;

// https://www.colorbox.io/#steps=15#hue_start=240#hue_end=225#hue_curve=linear#sat_start=100#sat_end=40#sat_curve=linear#sat_rate=100#lum_start=100#lum_end=60#lum_curve=easeInSine#minor_steps_map=none
$ColorSet_ThemeColor_ColorBlue_0:     #0000ff;
$ColorSet_ThemeColor_ColorBlue_10:    #0b0ff6;
$ColorSet_ThemeColor_ColorBlue_20:    #141ceb;
$ColorSet_ThemeColor_ColorBlue_30:    #1d27e0;
$ColorSet_ThemeColor_ColorBlue_40:    #2431d5;
$ColorSet_ThemeColor_ColorBlue_50:    #2b39ca;
$ColorSet_ThemeColor_ColorBlue_60:    #3141c0;
$ColorSet_ThemeColor_ColorBlue_70:    #3747b7;
$ColorSet_ThemeColor_ColorBlue_80:    #3c4caf;
$ColorSet_ThemeColor_ColorBlue_90:    #4151a8;
$ColorSet_ThemeColor_ColorBlue_100:   #4656a2;
$ColorSet_ThemeColor_ColorBlue_110:   #4b5b9e;
$ColorSet_ThemeColor_ColorBlue_120:   #50609b;
$ColorSet_ThemeColor_ColorBlue_130:   #56659a;
$ColorSet_ThemeColor_ColorBlue_140:   #5c6b99;

// https://www.colorbox.io/#steps=15#hue_start=120#hue_end=120#hue_curve=linear#sat_start=100#sat_end=40#sat_curve=easeInCubic#sat_rate=100#lum_start=100#lum_end=50#lum_curve=easeInSine#minor_steps_map=none
$ColorSet_ThemeColor_ColorGreen_0:    #00ff00;
$ColorSet_ThemeColor_ColorGreen_10:   #01f401;
$ColorSet_ThemeColor_ColorGreen_20:   #03e603;
$ColorSet_ThemeColor_ColorGreen_30:   #07d807;
$ColorSet_ThemeColor_ColorGreen_40:   #0bca0b;
$ColorSet_ThemeColor_ColorGreen_50:   #11bd11;
$ColorSet_ThemeColor_ColorGreen_60:   #16b016;
$ColorSet_ThemeColor_ColorGreen_70:   #1da51d;
$ColorSet_ThemeColor_ColorGreen_80:   #239b23;
$ColorSet_ThemeColor_ColorGreen_90:   #2a922a;
$ColorSet_ThemeColor_ColorGreen_100:  #318b31;
$ColorSet_ThemeColor_ColorGreen_110:  #388638;
$ColorSet_ThemeColor_ColorGreen_120:  #3f823f;
$ColorSet_ThemeColor_ColorGreen_130:  #468046;
$ColorSet_ThemeColor_ColorGreen_140:  #4d804d;

// https://www.colorbox.io/#steps=15#hue_start=60#hue_end=60#hue_curve=linear#sat_start=100#sat_end=40#sat_curve=easeInCubic#sat_rate=100#lum_start=100#lum_end=50#lum_curve=linear#minor_steps_map=none
$ColorSet_ThemeColor_ColorYellow_0:   #ffff00;
$ColorSet_ThemeColor_ColorYellow_10:  #e9e901;
$ColorSet_ThemeColor_ColorYellow_20:  #d4d402;
$ColorSet_ThemeColor_ColorYellow_30:  #c1c104;
$ColorSet_ThemeColor_ColorYellow_40:  #b1b105;
$ColorSet_ThemeColor_ColorYellow_50:  #a4a407;
$ColorSet_ThemeColor_ColorYellow_60:  #9a9a09;
$ColorSet_ThemeColor_ColorYellow_70:  #92920d;
$ColorSet_ThemeColor_ColorYellow_80:  #8d8d11;
$ColorSet_ThemeColor_ColorYellow_90:  #898917;
$ColorSet_ThemeColor_ColorYellow_100: #86861f;
$ColorSet_ThemeColor_ColorYellow_110: #838328;
$ColorSet_ThemeColor_ColorYellow_120: #828233;
$ColorSet_ThemeColor_ColorYellow_130: #818140;
$ColorSet_ThemeColor_ColorYellow_140: #80804d;
