@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }

}

<label class="SS_CheckboxContainer">
    <input type="checkbox" class="SS_Checkbox" @attributes="AdditionalAttributes"/>
    <div class="SS_CheckboxIndicator">
        <div class="SS_CheckboxIndicatorMark"></div>
    </div>
</label>