@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }

    [Parameter]
    public CheckboxSize Size { get; set; }
    
    public enum CheckboxSize
    {
        Undefined,
        Small,
        Medium,
        Large
    }

    private static string CheckboxSizeClass(CheckboxSize checkboxSize)
    {
        return checkboxSize switch {
            CheckboxSize.Undefined => "SS_CheckboxIndicator--SizeMedium",
            CheckboxSize.Small => "SS_CheckboxIndicator--SizeSmall",
            CheckboxSize.Medium => "SS_CheckboxIndicator--SizeMedium",
            CheckboxSize.Large => "SS_CheckboxIndicator--SizeLarge",
            _ => "SS_CheckboxIndicator--SizeMedium"
            };
    }

}

<label class="SS_CheckboxContainer">
    <input type="checkbox" class="SS_Checkbox" @attributes="AdditionalAttributes"/>
    <div class="SS_CheckboxIndicator @CheckboxSizeClass(Size)">
        <div class="SS_CheckboxIndicatorMark"></div>
    </div>
</label>