.SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted) {
  border-radius: 3px;
  font-weight: 500;
  outline: none;
  padding: 2px 6px; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):not(:disabled) {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.025);
    cursor: pointer; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):disabled {
    cursor: not-allowed; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted)::-moz-focus-inner {
    border: 0; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):not(:disabled) {
    background-color: #f8dceb;
    border: 1px solid #dec3d1;
    color: #151414; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):disabled {
    background-color: transparent;
    border: 1px solid #dec3d1;
    color: #a68d9a; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):hover:not(:disabled), .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):focus:not(:disabled) {
    background-color: #f1d1e2;
    border: 1px solid #d5b8c7; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):active:not(:disabled) {
    background-color: #eac9da;
    border: 1px solid #cdb0bf; }

.SS_Button--Green {
  border-radius: 3px;
  font-weight: 500;
  outline: none;
  padding: 2px 6px; }
  .SS_Button--Green:not(:disabled) {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.025);
    cursor: pointer; }
  .SS_Button--Green:disabled {
    cursor: not-allowed; }
  .SS_Button--Green::-moz-focus-inner {
    border: 0; }
  .SS_Button--Green:not(:disabled) {
    background-color: #199219;
    border: 1px solid #199219;
    color: white; }
  .SS_Button--Green:disabled {
    background-color: transparent;
    border: 1px solid #d8bccb;
    color: #a68d9a; }
  .SS_Button--Green:hover:not(:disabled), .SS_Button--Green:focus:not(:disabled) {
    background-color: #139b13;
    border-bottom: 1px solid #0ea50e; }
  .SS_Button--Green:active:not(:disabled) {
    background-color: #0ea50e;
    border: 1px solid #08bd08; }

.SS_Button--Red {
  border-radius: 3px;
  font-weight: 500;
  outline: none;
  padding: 2px 6px; }
  .SS_Button--Red:not(:disabled) {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.025);
    cursor: pointer; }
  .SS_Button--Red:disabled {
    cursor: not-allowed; }
  .SS_Button--Red::-moz-focus-inner {
    border: 0; }
  .SS_Button--Red:not(:disabled) {
    background-color: #b63b3b;
    border: 1px solid #b63b3b;
    color: white; }
  .SS_Button--Red:disabled {
    background-color: transparent;
    border: 1px solid #d8bccb;
    color: #a68d9a; }
  .SS_Button--Red:hover:not(:disabled), .SS_Button--Red:focus:not(:disabled) {
    background-color: #d32929;
    border-bottom: 1px solid #db2323; }
  .SS_Button--Red:active:not(:disabled) {
    background-color: #db2323;
    border: 1px solid #e91616; }

.SS_Button--Blue {
  border-radius: 3px;
  font-weight: 500;
  outline: none;
  padding: 2px 6px; }
  .SS_Button--Blue:not(:disabled) {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.025);
    cursor: pointer; }
  .SS_Button--Blue:disabled {
    cursor: not-allowed; }
  .SS_Button--Blue::-moz-focus-inner {
    border: 0; }
  .SS_Button--Blue:not(:disabled) {
    background-color: #4656a2;
    border: 1px solid #4656a2;
    color: white; }
  .SS_Button--Blue:disabled {
    background-color: transparent;
    border: 1px solid #d8bccb;
    color: #a68d9a; }
  .SS_Button--Blue:hover:not(:disabled), .SS_Button--Blue:focus:not(:disabled) {
    background-color: #3c4caf;
    border-bottom: 1px solid #3747b7; }
  .SS_Button--Blue:active:not(:disabled) {
    background-color: #3747b7;
    border: 1px solid #2431d5; }

.SS_Button--Inverted {
  border-radius: 3px;
  font-weight: 500;
  outline: none;
  padding: 2px 6px; }
  .SS_Button--Inverted:not(:disabled) {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.025);
    cursor: pointer; }
  .SS_Button--Inverted:disabled {
    cursor: not-allowed; }
  .SS_Button--Inverted::-moz-focus-inner {
    border: 0; }
  .SS_Button--Inverted:not(:disabled) {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff; }
  .SS_Button--Inverted:disabled {
    background-color: transparent;
    border: 1px solid #d8bccb;
    color: #a68d9a; }
  .SS_Button--Inverted:hover:not(:disabled), .SS_Button--Inverted:focus:not(:disabled) {
    background-color: #151414;
    border-bottom: 1px solid #151414; }
  .SS_Button--Inverted:active:not(:disabled) {
    background-color: #292728;
    border: 1px solid #292728; }

.SS_CheckboxContainer {
  position: relative; }
  .SS_CheckboxContainer .SS_Checkbox {
    opacity: 0;
    position: absolute;
    z-index: -1; }
    .SS_CheckboxContainer .SS_Checkbox:focus-visible {
      outline: 1px solid green; }
  .SS_CheckboxContainer .SS_Checkbox:not(:disabled) ~ .SS_CheckboxIndicator {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.025);
    cursor: pointer; }
    .SS_CheckboxContainer .SS_Checkbox:not(:disabled) ~ .SS_CheckboxIndicator--SizeSmall .SS_CheckboxIndicatorMark {
      border: solid #292728;
      border-width: 0 2px 2px 0; }
    .SS_CheckboxContainer .SS_Checkbox:not(:disabled) ~ .SS_CheckboxIndicator--SizeMedium .SS_CheckboxIndicatorMark {
      border: solid #292728;
      border-width: 0 3px 3px 0; }
    .SS_CheckboxContainer .SS_Checkbox:not(:disabled) ~ .SS_CheckboxIndicator--SizeLarge .SS_CheckboxIndicatorMark {
      border: solid #292728;
      border-width: 0 4px 4px 0; }
  .SS_CheckboxContainer .SS_Checkbox:disabled ~ .SS_CheckboxIndicator {
    cursor: not-allowed; }
    .SS_CheckboxContainer .SS_Checkbox:disabled ~ .SS_CheckboxIndicator--SizeSmall .SS_CheckboxIndicatorMark {
      border: solid #a68d9a;
      border-width: 0 2px 2px 0; }
    .SS_CheckboxContainer .SS_Checkbox:disabled ~ .SS_CheckboxIndicator--SizeMedium .SS_CheckboxIndicatorMark {
      border: solid #a68d9a;
      border-width: 0 3px 3px 0; }
    .SS_CheckboxContainer .SS_Checkbox:disabled ~ .SS_CheckboxIndicator--SizeLarge .SS_CheckboxIndicatorMark {
      border: solid #a68d9a;
      border-width: 0 4px 4px 0; }
  .SS_CheckboxContainer .SS_Checkbox:not(:checked) ~ .SS_CheckboxIndicator .SS_CheckboxIndicatorMark {
    opacity: 0; }
  .SS_CheckboxContainer .SS_Checkbox:not(:disabled):not(:checked) ~ .SS_CheckboxIndicator {
    background-color: #f8dceb;
    border: 1px solid #dec3d1; }
    .SS_CheckboxContainer .SS_Checkbox:not(:disabled):not(:checked) ~ .SS_CheckboxIndicator:hover {
      background-color: #f1d1e2;
      border: 1px solid #d5b8c7; }
    .SS_CheckboxContainer .SS_Checkbox:not(:disabled):not(:checked) ~ .SS_CheckboxIndicator:active {
      background-color: #eac9da;
      border-bottom: 1px solid #ee2e95;
      border-left: 1px solid #cdb0bf;
      border-right: 1px solid #cdb0bf;
      border-top: 1px solid #cdb0bf; }
  .SS_CheckboxContainer .SS_Checkbox:not(:disabled):checked ~ .SS_CheckboxIndicator {
    background-color: #f4d4e5;
    border: 1px solid #d8bccb; }
    .SS_CheckboxContainer .SS_Checkbox:not(:disabled):checked ~ .SS_CheckboxIndicator:hover {
      background-color: #f1d1e2;
      border: 1px solid #d5b8c7; }
    .SS_CheckboxContainer .SS_Checkbox:not(:disabled):checked ~ .SS_CheckboxIndicator:active {
      background-color: #eac9da;
      border-bottom: 1px solid #ee2e95;
      border-left: 1px solid #cdb0bf;
      border-right: 1px solid #cdb0bf;
      border-top: 1px solid #cdb0bf; }
  .SS_CheckboxContainer .SS_Checkbox:disabled:not(:checked) ~ .SS_CheckboxIndicator {
    background-color: #fce4f1;
    border: 1px solid #e2cad7; }
  .SS_CheckboxContainer .SS_Checkbox:disabled:checked ~ .SS_CheckboxIndicator {
    background-color: #fae0ee;
    border: 1px solid #e0c6d4; }
  .SS_CheckboxContainer .SS_CheckboxIndicator {
    align-items: center;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    justify-content: center; }
    .SS_CheckboxContainer .SS_CheckboxIndicator--SizeSmall {
      height: 21px;
      width: 21px; }
    .SS_CheckboxContainer .SS_CheckboxIndicator--SizeMedium {
      height: 25px;
      width: 25px; }
    .SS_CheckboxContainer .SS_CheckboxIndicator--SizeLarge {
      height: 31px;
      width: 31px; }
    .SS_CheckboxContainer .SS_CheckboxIndicator .SS_CheckboxIndicatorMark {
      display: block;
      height: 50%;
      margin-bottom: 10%;
      transform: rotate(45deg);
      width: 15%; }

h1.SS_Heading, h2.SS_Heading, h3.SS_Heading, h4.SS_Heading, h5.SS_Heading, h6.SS_Heading {
  margin: 5px 0; }

::-webkit-input-placeholder {
  font-style: italic; }

:-moz-placeholder {
  font-style: italic; }

::-moz-placeholder {
  font-style: italic; }

:-ms-input-placeholder {
  font-style: italic; }

.SS_Input, #ColorSet_ThemeLoader_Menu span select {
  border-radius: 3px;
  outline: none;
  background-color: #fce4f1;
  border: 1px solid #e2cad7;
  color: #292728;
  box-sizing: border-box;
  font-family: var(--FontSet-MonospaceFont);
  font-size: 1em;
  transition: color linear 200ms, background-color linear 200ms, border linear 200ms, box-shadow linear 200ms;
  height: calc(25px);
  margin: 1px 0;
  padding: 1px 4px; }
  .SS_Input:hover, #ColorSet_ThemeLoader_Menu span select:hover {
    background-color: #fee7f3;
    transition: color linear 25ms, background-color linear 25ms, border linear 25ms, box-shadow linear 25ms;
    border-top: 1px solid #d7c1cd;
    border-left: 1px solid #d7c1cd;
    border-right: 1px solid #d7c1cd;
    border-bottom: 1px solid #fb319d; }
  .SS_Input:focus, #ColorSet_ThemeLoader_Menu span select:focus, .SS_Input :active, #ColorSet_ThemeLoader_Menu span select :active {
    transition: color linear 0ms, background-color linear 0ms, border linear 0ms, box-shadow linear 0ms;
    background-color: #ffe9f6;
    border-top: 1px solid #cdb8c3;
    border-left: 1px solid #cdb8c3;
    border-right: 1px solid #cdb8c3;
    border-bottom: 1px solid #ff32a1; }
  .SS_Input--WidthWide {
    width: 600px; }
  .SS_Input--WidthMedium {
    width: 400px; }
  .SS_Input--WidthThin {
    width: 200px; }

.SS_TextArea {
  border-radius: 3px;
  outline: none;
  background-color: #fce4f1;
  border: 1px solid #e2cad7;
  color: #292728;
  box-sizing: border-box;
  font-family: var(--FontSet-MonospaceFont);
  font-size: 1em;
  transition: color linear 200ms, background-color linear 200ms, border linear 200ms, box-shadow linear 200ms;
  margin: 1px 0;
  padding: 1px 4px; }
  .SS_TextArea:hover {
    background-color: #fee7f3;
    transition: color linear 25ms, background-color linear 25ms, border linear 25ms, box-shadow linear 25ms;
    border-top: 1px solid #d7c1cd;
    border-left: 1px solid #d7c1cd;
    border-right: 1px solid #d7c1cd;
    border-bottom: 1px solid #fb319d; }
  .SS_TextArea:focus, .SS_TextArea :active {
    transition: color linear 0ms, background-color linear 0ms, border linear 0ms, box-shadow linear 0ms;
    background-color: #ffe9f6;
    border-top: 1px solid #cdb8c3;
    border-left: 1px solid #cdb8c3;
    border-right: 1px solid #cdb8c3;
    border-bottom: 1px solid #ff32a1; }
  .SS_TextArea--WidthWide {
    width: 600px; }
  .SS_TextArea--WidthMedium {
    width: 400px; }
  .SS_TextArea--WidthThin {
    width: 200px; }
  .SS_TextArea--HeightThin {
    height: 75px; }
  .SS_TextArea--HeightMedium {
    height: 150px; }
  .SS_TextArea--HeightTall {
    height: 300px; }

.SS_Select {
  border-radius: 3px;
  outline: none;
  background-color: #fce4f1;
  border: 1px solid #e2cad7;
  color: #292728;
  box-sizing: border-box;
  font-family: var(--FontSet-MonospaceFont);
  font-size: 1em;
  transition: color linear 200ms, background-color linear 200ms, border linear 200ms, box-shadow linear 200ms;
  height: calc(25px);
  margin: 1px 0;
  padding: 1px 4px; }
  .SS_Select:hover {
    background-color: #fee7f3;
    transition: color linear 25ms, background-color linear 25ms, border linear 25ms, box-shadow linear 25ms;
    border-top: 1px solid #d7c1cd;
    border-left: 1px solid #d7c1cd;
    border-right: 1px solid #d7c1cd;
    border-bottom: 1px solid #fb319d; }
  .SS_Select:focus, .SS_Select :active {
    transition: color linear 0ms, background-color linear 0ms, border linear 0ms, box-shadow linear 0ms;
    background-color: #ffe9f6;
    border-top: 1px solid #cdb8c3;
    border-left: 1px solid #cdb8c3;
    border-right: 1px solid #cdb8c3;
    border-bottom: 1px solid #ff32a1; }

#ColorSet_ThemeLoader_Menu {
  margin-top: 10px; }
  #ColorSet_ThemeLoader_Menu span {
    border-top: 1px solid #e4d3dc;
    display: inline-block;
    padding: 5px; }
    #ColorSet_ThemeLoader_Menu span label {
      color: #685a61;
      font-size: 10pt;
      margin-right: 5px; }
    #ColorSet_ThemeLoader_Menu span select {
      font-size: 10pt;
      height: unset;
      padding: 0; }

.ThinBreak {
  height: 2px; }

/*# sourceMappingURL=Style.Pink.css.map */