.SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted) {
  border-radius: 3px;
  font-weight: 500;
  outline: none;
  padding: 4px 6px; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):not(:disabled) {
    cursor: pointer; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):disabled {
    cursor: not-allowed; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted)::-moz-focus-inner {
    border: 0; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):not(:disabled) {
    background-color: #19181c;
    border: 1px solid #302e36;
    color: #f7f5fc; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):disabled {
    background-color: transparent;
    border: 1px solid #38343f;
    color: #504c59; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):hover:not(:disabled), .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):focus:not(:disabled) {
    background-color: #25232a;
    border: 1px solid #3c3844; }
  .SS_Button:not(.SS_Button--Green):not(.SS_Button--Red):not(.SS_Button--Blue):not(.SS_Button--Inverted):active:not(:disabled) {
    background-color: #2d2a34;
    border: 1px solid #433f4d; }

.SS_Button--Green {
  border-radius: 3px;
  font-weight: 500;
  outline: none;
  padding: 4px 6px; }
  .SS_Button--Green:not(:disabled) {
    cursor: pointer; }
  .SS_Button--Green:disabled {
    cursor: not-allowed; }
  .SS_Button--Green::-moz-focus-inner {
    border: 0; }
  .SS_Button--Green:not(:disabled) {
    background-color: #2a922a;
    border: 1px solid #2a922a;
    color: white; }
  .SS_Button--Green:disabled {
    background-color: transparent;
    border: 1px solid #38343f;
    color: #504c59; }
  .SS_Button--Green:hover:not(:disabled), .SS_Button--Green:focus:not(:disabled) {
    background-color: #239b23;
    border-bottom: 1px solid #1da51d; }
  .SS_Button--Green:active:not(:disabled) {
    background-color: #1da51d;
    border: 1px solid #11bd11; }

.SS_Button--Red {
  border-radius: 3px;
  font-weight: 500;
  outline: none;
  padding: 4px 6px; }
  .SS_Button--Red:not(:disabled) {
    cursor: pointer; }
  .SS_Button--Red:disabled {
    cursor: not-allowed; }
  .SS_Button--Red::-moz-focus-inner {
    border: 0; }
  .SS_Button--Red:not(:disabled) {
    background-color: #b63b3b;
    border: 1px solid #b63b3b;
    color: white; }
  .SS_Button--Red:disabled {
    background-color: transparent;
    border: 1px solid #38343f;
    color: #504c59; }
  .SS_Button--Red:hover:not(:disabled), .SS_Button--Red:focus:not(:disabled) {
    background-color: #d32929;
    border-bottom: 1px solid #db2323; }
  .SS_Button--Red:active:not(:disabled) {
    background-color: #db2323;
    border: 1px solid #e91616; }

.SS_Button--Blue {
  border-radius: 3px;
  font-weight: 500;
  outline: none;
  padding: 4px 6px; }
  .SS_Button--Blue:not(:disabled) {
    cursor: pointer; }
  .SS_Button--Blue:disabled {
    cursor: not-allowed; }
  .SS_Button--Blue::-moz-focus-inner {
    border: 0; }
  .SS_Button--Blue:not(:disabled) {
    background-color: #4656a2;
    border: 1px solid #4656a2;
    color: white; }
  .SS_Button--Blue:disabled {
    background-color: transparent;
    border: 1px solid #38343f;
    color: #504c59; }
  .SS_Button--Blue:hover:not(:disabled), .SS_Button--Blue:focus:not(:disabled) {
    background-color: #3c4caf;
    border-bottom: 1px solid #3747b7; }
  .SS_Button--Blue:active:not(:disabled) {
    background-color: #3747b7;
    border: 1px solid #2431d5; }

.SS_Button--Inverted {
  border-radius: 3px;
  font-weight: 500;
  outline: none;
  padding: 4px 6px; }
  .SS_Button--Inverted:not(:disabled) {
    cursor: pointer; }
  .SS_Button--Inverted:disabled {
    cursor: not-allowed; }
  .SS_Button--Inverted::-moz-focus-inner {
    border: 0; }
  .SS_Button--Inverted:not(:disabled) {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #000000; }
  .SS_Button--Inverted:disabled {
    background-color: transparent;
    border: 1px solid #38343f;
    color: #504c59; }
  .SS_Button--Inverted:hover:not(:disabled), .SS_Button--Inverted:focus:not(:disabled) {
    background-color: #f7f5fc;
    border-bottom: 1px solid #f7f5fc; }
  .SS_Button--Inverted:active:not(:disabled) {
    background-color: #eeeaf9;
    border: 1px solid #eeeaf9; }

h1.SS_Heading, h2.SS_Heading, h3.SS_Heading, h4.SS_Heading, h5.SS_Heading, h6.SS_Heading {
  margin: 5px 0; }

::-webkit-input-placeholder {
  font-style: italic; }

:-moz-placeholder {
  font-style: italic; }

::-moz-placeholder {
  font-style: italic; }

:-ms-input-placeholder {
  font-style: italic; }

.SS_Input {
  border-radius: 3px;
  outline: none;
  background-color: #111113;
  padding: 1px 4px;
  border: 1px solid #29272c;
  color: #eeeaf9;
  box-sizing: border-box;
  font-family: var(--FontSet-MonospaceFont);
  font-size: 1em;
  transition: color linear 200ms, background-color linear 200ms, border linear 200ms, box-shadow linear 200ms;
  margin: 1px 0;
  height: calc(25px); }
  .SS_Input:hover {
    background-color: #161518;
    transition: color linear 25ms, background-color linear 25ms, border linear 25ms, box-shadow linear 25ms;
    border-top: 1px solid #343239;
    border-left: 1px solid #343239;
    border-right: 1px solid #343239;
    border-bottom: 1px solid #7131fb; }
  .SS_Input:focus, .SS_Input :active {
    transition: color linear 0ms, background-color linear 0ms, border linear 0ms, box-shadow linear 0ms;
    background-color: #18171b;
    border-top: 1px solid #3b3941;
    border-left: 1px solid #3b3941;
    border-right: 1px solid #3b3941;
    border-bottom: 1px solid #7432ff; }

.SS_TextArea {
  border-radius: 3px;
  outline: none;
  background-color: #111113;
  padding: 1px 4px;
  border: 1px solid #29272c;
  color: #eeeaf9;
  box-sizing: border-box;
  font-family: var(--FontSet-MonospaceFont);
  font-size: 1em;
  transition: color linear 200ms, background-color linear 200ms, border linear 200ms, box-shadow linear 200ms;
  margin: 1px 0; }
  .SS_TextArea:hover {
    background-color: #161518;
    transition: color linear 25ms, background-color linear 25ms, border linear 25ms, box-shadow linear 25ms;
    border-top: 1px solid #343239;
    border-left: 1px solid #343239;
    border-right: 1px solid #343239;
    border-bottom: 1px solid #7131fb; }
  .SS_TextArea:focus, .SS_TextArea :active {
    transition: color linear 0ms, background-color linear 0ms, border linear 0ms, box-shadow linear 0ms;
    background-color: #18171b;
    border-top: 1px solid #3b3941;
    border-left: 1px solid #3b3941;
    border-right: 1px solid #3b3941;
    border-bottom: 1px solid #7432ff; }
  .SS_TextArea--HeightThin {
    height: 75px; }
  .SS_TextArea--HeightMedium {
    height: 150px; }
  .SS_TextArea--HeightTall {
    height: 300px; }

.SS_Select {
  border-radius: 3px;
  outline: none;
  background-color: #111113;
  padding: 1px 4px;
  border: 1px solid #29272c;
  color: #eeeaf9;
  box-sizing: border-box;
  font-family: var(--FontSet-MonospaceFont);
  font-size: 1em;
  transition: color linear 200ms, background-color linear 200ms, border linear 200ms, box-shadow linear 200ms;
  margin: 1px 0;
  height: calc(25px); }
  .SS_Select:hover {
    background-color: #161518;
    transition: color linear 25ms, background-color linear 25ms, border linear 25ms, box-shadow linear 25ms;
    border-top: 1px solid #343239;
    border-left: 1px solid #343239;
    border-right: 1px solid #343239;
    border-bottom: 1px solid #7131fb; }
  .SS_Select:focus, .SS_Select :active {
    transition: color linear 0ms, background-color linear 0ms, border linear 0ms, box-shadow linear 0ms;
    background-color: #18171b;
    border-top: 1px solid #3b3941;
    border-left: 1px solid #3b3941;
    border-right: 1px solid #3b3941;
    border-bottom: 1px solid #7432ff; }

.SS_Input--WidthWide {
  width: 600px; }

.SS_Input--WidthMedium {
  width: 400px; }

.SS_Input--WidthThin {
  width: 200px; }

#ColorSet_ThemeLoader_Menu {
  margin-top: 10px; }
  #ColorSet_ThemeLoader_Menu span {
    border-top: 1px solid #212023;
    display: inline-block;
    padding: 5px; }
    #ColorSet_ThemeLoader_Menu span label {
      color: #c1b9d4;
      font-size: 11pt;
      margin-right: 5px; }

.ThinBreak {
  height: 2px; }

/*# sourceMappingURL=Style.Dark.css.map */