@import '../../ColorSet/Themes/Constant.scss';
@import '../../ShapeSet/Composite.scss';

@mixin Base {
    body {
        background-color: $ColorSet_ThemeColor_Background_0;
        color:            $ColorSet_ThemeColor_Text_50;
    }

    body, * {
        font-family: var(--FontSet-SansSerifFont);
    }
}